{% import "_sidebar/sidebar-macros.html" as Sidebar %}
{% import "_buttons/button-macros.html" as ButtonMacros %}
{% import "_titles/titles-macros.html" as Titles %}
{% import "_categories/categories-macros.html" as Category %}
{% import "_components/components-macros.html" as Components %}

<div class="flex">
{{ Sidebar::sidebar(navbarLink="Label images", navbarLinkJig="Label JIGS", dataId="btn-1") }}
  <div class="w-full px-8 pt-6">
  {{ Titles::pagetitle(label="Edit categories", dataId="#") }}
    <div class="flex mb-2">
      <div class="w-1/2">
        <div class="flex justify-between py-3">
          <div class="flex items-center">
            <p class="text-jibuttonBlue">Categories</p>
            {{ Components::searchbar(dataId="#") }}
          </div>
          {{ ButtonMacros::blue(label="+ Add Category", dataId="btn-1") }}
        </div>

        {{ Titles::categorytitleselected(label="Hebrew", dataId="#") }}
        {{ Titles::categorytitle(label="Characters", dataId="#") }}
        {{ Titles::categorytitle(label="Songs", dataId="#") }}
        {{ Category::category(label="Hebrew Open", dataId="#") }}
      </div>
      <div class="w-1/2"></div>
    </div>


  </div>
</div>
