<div class="text-azoSans flex">
  <div>
    <h1 class="bordersolid border-b-2 border-grey-400">Label Images</h1>
    <div class="flex py-4 px-2">
      <div class="flex-1">
        <p>We found ${results}</p>
      </div>
      <div class="flex-1">
        <div class="flex">
          <p>< Back</p>
          <p>Page
            <span>1</span>
            of
            <span>10</span>
          </p>
          <p>Next ></p>
        </div>
      </div>
      <div class="flex-1">
        <input type="search" name="" value="" class="border">
      </div>
    </div>
    <div class="grid grid-cols-5 gap-4">
      <div>
        <img src="%MEDIA_UI%/red-sea-book.png" alt="">
        <div class="flex items-center justify-center relative">
          <div class="rounded-full h-3 w-3 flex items-center justify-center bg-indigo-400 absolute left-0 ml-2"></div>
          <p>Moses part the nile</p>
        </div>
      </div>
      <div>
        <img src="%MEDIA_UI%/red-sea-book.png" alt="">
        <div class="flex items-center justify-center relative">
          <div class="rounded-full h-3 w-3 flex items-center justify-center bg-indigo-400 absolute left-0 ml-2"></div>
          <p>Moses part the nile</p>
        </div>
      </div>
      <div>
        <img src="%MEDIA_UI%/red-sea-book.png" alt="">
        <div class="flex items-center justify-center relative">
          <div class="rounded-full h-3 w-3 flex items-center justify-center bg-indigo-400 absolute left-0 ml-2"></div>
          <p>Moses part the nile</p>
        </div>
      </div>
      <div class="">2</div>
      <div class="">2</div>
      <div class="">2</div>
      <div class="">2</div>
      <div class="">2</div>
      <div class="">2</div>
      <div>9</div>
    </div>
  </div>

</div>
