{% import "_sidebar/sidebar-macros.html" as Sidebar %}
{% import "_buttons/button-macros.html" as ButtonMacros %}
{% import "_titles/titles-macros.html" as Titles %}
{% import "_input/input-macros.html" as Input %}
{% import "_image/imagedisplay-macros.html" as Image %}  

<div class="font-poppins flex searchpage">
  <div class="w-full px-8 pt-6">
    <div class="flex items-center py-2 mb-4 justify-between">
      <h1 class="text-2xl font-poppins font-light">Label Image</h1>
      {{ Input::searchbox(dataId="#") }}
    </div>
    <div class="bordersolid border-b-2 w-full border-grey-400"></div>

    <div class="flex py-4 px-2 items-center justify-between">
      <div class="flex">
        <p>We found <span class="text-jibuttonBlue">${results}</span> images for passover</p>
      </div>
      <div class="flex ml-auto mr-auto">
        <div class="flex">
          <img src="{{MEDIA_UI}}/icon-chevron-categories-24-px.svg" alt="" class="transform rotate-180 arrow">
          <p class="mr-2">
            Back
          </p>
          <div class="flex mx-6">Page
              <input type="number" class="h-6 w-6 bg-jibackgroundBlue text-center flex justify-center items-center mx-1 border border-jinumberblue text-jibuttonBlue focus:outline-none">

            of
            <span class="mx-1">10</span>
          </div>
          <div class="flex">
            <p>Next</p>
            <img src="{{MEDIA_UI}}/icon-chevron-categories-24-px.svg" alt="" class="arrow">
          </div>

        </div>
      </div>
      <div class="flex ml-auto mr-0">
        {{ Input::select(dataId="#") }}
      </div>
    </div>
    <div class="grid grid-cols-5 gap-4">
      {{ Image::imagelabel(imagelink="red-sea-book.png", dataId="#") }}
      {{ Image::imagelabel(imagelink="3971-small.png", dataId="#") }}
      {{ Image::imagelabel(imagelink="261.png", dataId="#") }}
      {{ Image::imagelabel(imagelink="sticker-244-2019-04-09-thumb.png", dataId="#") }}


      <div>9</div>
    </div>
  </div>

</div>
