{% import "_sidebar/sidebar-macros.html" as Sidebar %}
{% import "_buttons/button-macros.html" as ButtonMacros %}
{% import "_titles/titles-macros.html" as Titles %}
{% import "_components/components-macros.html" as Components %}
<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<div class="font-poppins flex">
  <div class="w-full">
    {{ Titles::pagetitle(label="Label Images", dataId="#") }}
    {{ Components::searchbox(dataId="#") }}
    <div class="flex py-4 px-2">
      <div class="flex-1">
        <p>We found ${results}</p>
      </div>
      <div class="flex-1">
        <div class="flex">
          <p>< Back</p>
          <p>Page
            <span>1</span>
            of
            <span>10</span>
          </p>
          <p>Next ></p>
        </div>
      </div>
      <div class="flex-1">
        <input type="search" name="" value="" class="border">
      </div>
    </div>
    <div class="grid grid-cols-5 gap-4">
      <div>
        <img src="{{MEDIA_UI}}/red-sea-book.png" alt="">
        <div class="flex items-center justify-center relative">
          <div class="rounded-full h-3 w-3 flex items-center justify-center bg-indigo-400 absolute left-0 ml-2"></div>
          <p>Moses part the nile</p>
        </div>
      </div>
      <div>
        <img src="{{MEDIA_UI}}/red-sea-book.png" alt="">
        <div class="flex items-center justify-center relative">
          <div class="rounded-full h-3 w-3 flex items-center justify-center bg-indigo-400 absolute left-0 ml-2"></div>
          <p>Moses part the nile</p>
        </div>
      </div>
      <div>
        <img src="{{MEDIA_UI}}/red-sea-book.png" alt="">
        <div class="flex items-center justify-center relative">
          <div class="rounded-full h-3 w-3 flex items-center justify-center bg-indigo-400 absolute left-0 ml-2"></div>
          <p>Moses part the nile</p>
        </div>
      </div>
      <div class="">2</div>
      <div class="">2</div>
      <div class="">2</div>
      <div class="">2</div>
      <div class="">2</div>
      <div class="">2</div>
      <div>9</div>
    </div>
  </div>

</div>
