<div class="mb-4 absolute z-10 w-176 left-0 top-50">
  <!--This should be toggled when clicking on filter FILTERBOX-->
  <div class="bg-jibackgroundGrey rounded-md shadow-lg py-2">
    <label for="name" class="">
      <span class="text-jibuttonBlue px-2">Filter by:</span>
      <div class="flex items-center border-b border-jibuttonBlue py-2 relative">

        <img src="{{MEDIA_UI}}/Icn_Chevron_TextFields_Hover.svg" alt="" class="absolute right-10 transform rotate-180">
        <input placeholder="All" data-id="" type="search" name="" value="" class="ml-2 bg-jibackgroundGrey outline-none focus:outline-none" placeholder="">

      </div>
    </label>
    <ul class="py-2 text-black">

      <li class="hover:bg-jiborderGrey">
        <div class="px-2">All</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">New</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">New Version</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">In progress</div>
      </li>
    </ul>

  </div>
</div>