<div class="">
  <section class="flex flex-col items-center justify-center text-center">
    <p class="text-2xl">Make learning awesome with JI <span class="text-3xl text-jibuttonBlue">10,345</span> JIGs</p>
    <div class="w-992 flex bg-jibackgroundGrey">
      <input class="outline-none bg-jibackgroundGrey w-1/2" type="text" name="" value="" placeholder="I am looking for Hebrew activities">
      <select class="outline-none bg-jibackgroundGrey" name="">

      </select>
      <select class="outline-none bg-jibackgroundGrey" name="">

      </select>
    </div>

  </section>
  <section>

  </section>
</div>