{% import "_common/input/input-macros.html" as Input %}
{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "admin/categories/categories-macros.html" as Categories %}

  <div class="tooltip-content bg-jibuttonBlue text-white top-20 left-70p absolute py-2 pr-2">
    <div class="relative pl-4 pr-8">
      <p>Michael.Wikes@gmail.com <br>USA</p>
      <img src={{MEDIA_UI}}/content-copy-24-px.svg class="absolute top-0 right-0">
      <p class="absolute bottom-0 right-0">Copied</p>
    </div>

    <i class="absolute top-50p"></i>
  </div>
