.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;

}

.tooltip .tooltip-content {
    min-width:200px;
    margin-left:20px;
    transform:translate(0, -50%);
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    z-index:99999999;
    display: none;


}

.tooltip:hover .tooltip-content {
    display:block;
}

.tooltip .tooltip-content i {
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .tooltip-content i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color: #5590fc;

}

.selected-star path{
  fill: #fccd63;
}

.full-rating path {
  fill: #fff
}

.one:hover .blue {
  fill:#5590fc;
}

.two:hover  .nonsearch{
  fill: #ef4350;
}

.three:hover .force path
{
  fill: #ef4350;
}

select {
  -webkit-appearance: none;
-moz-appearance: none;
}

.select-icon {pointer-events: none;}

.jig-module li::before {
  content: "\2022";
 color: #5590fc;
 font-weight: bold;
 display: inline-block;
 width: 8px;
 margin-left: -1em;
}

.jig-creator-active {
  border-left-color: #5590fc !important;
}

.jig-tooltip  .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.jig-tooltip .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.jig-tooltip .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.jig-tooltip .tooltip:hover .tooltiptext {
  visibility: visible;
}

.jig-image-selected {
  border: solid 2px #42cc7a ;
  border-radius: 4px;

}

.color-selected::before {
  content: '';
  height: 68px;
  width: 68px;
  border-radius:50%;
  border: solid 3px #5590fc;
  display:flex;
  margin-top:-7px;
  margin-left: -7px;

}

.input-color-container {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: solid 2px #ddd;
  border-radius: 40px;
}

.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}

.input-color-label {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}

.jig-preview {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.14);
    width: 100%;
  	padding-bottom: 56.25%; /* 16:9 */
  	position: relative;
}

.jig-content{
    position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
}

.playbutton::before{
  content:'Clear';
  color: #5590fc;
  position: absolute;
  left: 0;

}

.recording-active {
  background-color: #EDF7FF !important;
  border: dashed 2px #5590fc;
}

.module-icon{transition: all .2s ease-in-out;}

.module-icon:hover{
transform: scale(1.1);
}


.publish-error{
  border: solid 1px #f00813;
background-color: #fff4f4 !important;

}

.publish-error select{
  background-color: #fff4f4 !important;

}






.publish-error-message .publish-error-tooltip {
  visibility: visible;
  width: 295px;
  height: 69px;
  background-color: #fff4f4;
  color: #ed464e;
  text-align: center;
  border-radius: 12px;
  padding: 18px 16px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -80%;
  border: solid 1px #f00813;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.16);


}

.publish-error-message .publish-error-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff4f4 transparent;

}

.publish-error-message .publish-error-tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #f00813 transparent;
}

.publish-subcategory img{visibility:hidden}

.publish-subcategory-chosen img{visibility: visible;}
