{% import "_common/sidebar/sidebar-macros.html" as Sidebar %}
{% import "_common/input/input-macros.html" as Input %}
{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "admin/categories/categories-macros.html" as Categories %}
<div class="flex">
  <div data-id="tree" class="w-3/6 border-l-2 h-screen px-6">
    <div class="w-full">
      <div class="flex mb-2">
        <div class="w-full">
          <div class="flex justify-between pb-3">
            <div class="flex items-center">
              <p class="text-jibuttonBlue font-medium">Categories</p>
              {{ Input::searchbox(dataId="#", label="Image search") }}
            </div>

          </div>
          <div data-id="select-list"></div>
        </div>

      </div>


    </div>
  </div>

  <div data-id="summary" class="w-2/5 h-screen">
    <div class="w-full">
      <div class="flex mb">
        <div class="flex items-center flex-col">
          <p class="text-jibuttonBlue font-medium my-4">Categories summary</p>
        </div>


      </div>


    </div>
    <div class="bg-jibackgroundBlue h-696 w-full rounded-md">
      <div data-id="summary-list"></div>
    </div>
  </div>
</div>