<div>
      <div class="border-l-2 h-screen px-6 w-2/5">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="" class="text-jibuttonBlue flex items-center ml-2">Image style</label>
            <div data-id="styles" class="flex flex-col">
            </div>
          </div>
          <!-- ... -->
          <div>
            <div class="relative w-272">
              <!-- Not doing for now, depends on audiences which is not in MVP
              <div data-id="menu-container"></div>
              <div class="mb-4">
                ​
                <label for="name" class="">
                  <span class="text-jibuttonBlue">To be used for:</span>
                  <div class="flex items-center border-b border-jiborderGrey py-2 relative">
                    <img src="{{MEDIA_UI}}/search-24-px.svg" alt="" class="absolute right-10 top-25">
                    ​
                  </div>
                </label>
              </div>
              -->
              <!--If error message is needed add class "border-r border-jierrorred and text-jierrorred for label"-->
              <div>
                <label for="" class="text-jibuttonBlue flex items-center ml-2">Suitable for age</label>
                <div data-id="age_ranges" class="flex flex-col">
                </div>
              </div>
              <div>
                <label for="" class="text-jibuttonBlue flex items-center ml-2">Suitable for Jewish stream</label>
                <div data-id="affiliations" class="flex flex-col">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
</div>
