{% import "_common/sidebar/sidebar-macros.html" as Sidebar %}
{% import "_common/input/input-macros.html" as Input %}
{% import "_common/buttons/button-macros.html" as ButtonMacros %}


<div class="mb-4 absolute z-10 w-272 ">
  <!--This should be toggled when clicking on filter FILTERBOX-->
  <div class="bg-jibackgroundGrey rounded-md shadow">
    <label for="name" class="">
      <span class="text-jibuttonBlue p-2">To be used for:</span>
      <div class="flex items-center border-b border-jibuttonBlue py-2 relative">

          <img src="{{MEDIA_UI}}/search-24-px.svg" alt="" class="absolute right-10">
          <input data-id="search" type="search" name="" value="" class="ml-2 bg-jibackgroundGrey outline-none focus:outline-none" placeholder="">

      </div>
      <div data-id="bubbles" class="flex my-2 p-2">
      </div>

    </label>
    <div data-id="options" class="flex flex-col max-h-284 overflow-auto">

    </div>




  </div>

</div>
