.ftl-table .zeplin-link-cell:hover .zeplin-link {
    display: block;
}
.ftl-table .zeplin-link {
    display: none;
    position: absolute;
    background-color: white;
    line-height: 2em;
    margin-top: -1.5em;
    padding: 0 10px;
}

.link-button {
    background-color: transparent;
    border: 0;
    padding: 3px 3px;
    cursor: pointer;
    line-height: 1.8em;
}
.link-button:hover {
    text-decoration: underline;
}

.actions-wrapper {
    display: flex;
    padding: 10px 10px;
    column-gap: 5px;
}
