{
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "../templates",
            "rootPathPrefix": "@templates"
          },
          {
            "rootPathSuffix": "./src/utils",
            "rootPathPrefix": "@utils"
          },
		  {
            "rootPathSuffix": "../../_common",
            "rootPathPrefix": "@common"
          }
        ]
      }
    ]
  ]
}