body {
    /* the font-size on :root is dynamically set for module scaling
     so the font-size here is set to a new default for children
  */
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #4a4a4a
}
html, body, main {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    padding: 0;
    margin: 0;
}
:root {
    font-size: 1px;
    /*will get overridden with dynamic size - this is for default */
    --white: #ffffff;
    --light-gray-1: #e7edf0;
    --light-gray-2: #d3ddea;
    --light-gray-3: #cad2d6;
    --light-gray-4: #a9b1b5;
    --dark-gray-3: #798b96;
    --dark-gray-4: #777777;
    --dark-gray-5: #606060;
    --dark-gray-6: #272727;
    --main-blue: #5590fc;
    --dark-blue-1: #387af4;
    --dark-blue-2: #2565d5;
    --dark-blue-3: #005aff;
    --dark-blue-4: #5662a3;
    --dark-blue-5: #2040a3;
    --dark-blue-6: #1d476d;
    --dark-blue-7: #0a3052;
    --dark-blue-8: #192150;
    --light-blue-1: #f3f8fe;
    --light-blue-2: #e7f0fe;
    --light-blue-3: #d8e7fa;
    --light-blue-4: #afcbf4;
    --light-blue-5: #89b3ff;
    --light-blue-6: #6ca1fc;
    --main-red: #fd6b71;
    --dark-red-1: #ed6065;
    --red-alert: #f00813;
    --dark-red-2: #fa4048;
    --light-red-1: #fecdcf;
    --light-red-4: #fd9087;
    --light-red-alert: #fff4f4;
    --orange: #ff6639;
    --orange-1: #fd7c44;
    --light-orange-1: #fff2cb;
    --light-orange-2: #faecc2;
    --light-orange-3: #ffe1a7;
    --light-orange-6: #fea559;
    --yellow-1: #fffde6;
    --yellow-4: #ffe13c;
    --main-yellow: #fed657;
    --main-green: #71cf92;
    --green-1: #dffada;
    --green-2: #f0fcf5;
    --green-3: #c4ead1;
    --green-4: #9cddb2;
    --dark-green-1: #46ba6f;
    --fd-27-f-5-2: #fd27f5;
    --yellow-5: #f5ba2b;
    ---dfb: #447dfb;
}
#root:empty {
    min-height: 100vh;
    background-color: #6ca1fc3d;
    background-image: url(https://media.jigzi.org/ui/core/loaders/loader.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 64px 64px;
}
