# used with sqlx
DATABASE_URL=postgres://postgres:password@localhost/ji-jicloud-dev

# key for signing JWTs
JWT_SECRET=password1

# key for communicating with the JS server 
INTER_SERVER_SECRET=correct-horse-battery-staple

# same as the various components of the sqlx db url
LOCAL_DB_USER=postgres
LOCAL_DB_PASS=password
LOCAL_DB_PORT=5432
LOCAL_DB_NAME=ji-jicloud-dev

# port that the API should run on
LOCAL_API_PORT=8080

# unused for now, but needs to be set.
LOCAL_PAGES_PORT=8081
