admin-table-line > * {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
}
.img-wrapper {
    display: grid;
    place-content: center;
    padding: 0;
    height: 90px;
}
.img-wrapper img-ji {
    max-height: 90px;
    max-width: 90px;
}
dialog {
    border-radius: 16px;
    box-shadow: rgb(0 0 0) 0 0 5px;
    border: none;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 70%);
}
