# used for fa-icon, might be able to remove this file once fa releases their own web component

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=9ADAF6A6-B2A9-4F88-8BC4-BE4847C88807
