**/_secret-keys/
**/target/
**/Dockerfile
**/.dockerignore
**/.git
**/.gitignore
**/.env
**/node_modules/
**/.idea
**/.vscode
backend/core/rust/Cargo.lock
shared/rust/Cargo.lock
config/rust/Cargo.lock

