node_modules
dist
target
documentation/output
.env
.firebase
_secret-keys
wasm-pack.log
yarn-*.log

# for now it's safe to ignore all windows scripts since they'd only be local
*.bat

# IDEs
.vscode
.idea

#### OSX
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

##### Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk