<div class="absolute p-2 z-40 dropdown cursor-pointer">
  <ul class="bg-white rounded-md shadow-md w-150 py-3 text-sm relative">
    <div data-id="close" class="px-3 absolute right-0"><img src="{{MEDIA_UI}}/icon-close-menu.svg" alt=""></div>
    <li data-id="add" class="hover:bg-jibackgroundBlue">
      <div class="p-2 pl-4">Add a child</div>
    </li>
    <li data-id="rename" class="hover:bg-jibackgroundBlue">
      <div class="p-2 pl-4">Rename</div>
    </li>
    <li data-id="move-up" class="hover:bg-jibackgroundBlue">
      <div class="p-2 pl-4">Move Up</div>
    </li>
    <li data-id="move-down" class="hover:bg-jibackgroundBlue">
      <div class="p-2 pl-4">Move Down</div>
    </li>
    <li data-id="delete" class="hover:bg-jibackgroundBlue">
      <div class="p-2 pl-4">Delete</div>
    </li>
    <li data-id="hide" class="hover:bg-jibackgroundBlue">
      <div class="p-2 pl-4">Hide</div>
    </li>
  </ul>
</div>