{% macro main(selected, dataId="") %}
<div class="{% if selected %} bg-jibackgroundBlue border-jigreen {% endif %} border-l-8 border-l-solid rounded-md mb-2">
  <div class="flex items-center titleoptions">
    <div class="flex py-3">
      {% if selected %}
        <img data-id="arrow" class="px-1" src="{{MEDIA_UI}}/icon-chevron-categories-24-px-active.svg" alt="">
      {% else %}
        <img data-id="arrow" class="px-1" src="{{MEDIA_UI}}/icon-chevron-categories-24-px.svg" alt="">
      {% endif %}
      <p data-id="label" class="font-normal"></p>
    </div>
    {{ self::menu_container() }}
  </div>
  <div data-id="children" {% if not selected %} class="hidden"{% endif %} > </div>
</div>
{% endmacro main %}


{% macro menu_container() %}
<div class="flex mr-2 relative pl-2">
  <div data-id="menu-toggle-btn" class="ellipses">
  <!--Find a way to change color of ellipses when hover -->
    <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
    <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
    <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
  </div>
  <div data-id="menu-container"></div>
</div>
{% endmacro menu_container %}