/*
  Left and Right are independent of Front and Back
  See the Themes below for front/back styling
*/
.edit-card-left {
  z-index:10;
}

.edit-card-right {
  margin-top:10px;
  margin-left: -10px;
}

.sidebar-card-left {
  margin-top: -10px;
  z-index: 10;
  margin-right: -20px
}


.memory-add-word, .memory-error {

  text-align: center;
  border-radius: 12px;
  padding: 5px 0;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.memory-add-word::after, .memory-error::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 15px;
  border-style: solid;


}

.memory-error::after{
  border-color: transparent #ffdede transparent transparent;
}

.memory-add-word::after {
    border-color: transparent #c1d8f8 transparent transparent;
}

.memory-add-word::before, .memory-error::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  border-width: 16px;
  border-style: solid;


}

.memory-add-word::before{
  border-color: transparent #5590fc transparent transparent;
}

.memory-error::before{
  border-color: transparent #e36486 transparent transparent;

}

.flip-card {
  display: block;
  position: relative;
  z-index: 1000;
  width: 100px;
  height: 100px;
  transition: transform 0.2s linear;
}
.flip-card .play-card-front,
.flip-card .play-card-back,
.flip-card .edit-card-front,
.flip-card .edit-card-back
{
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 500ms;
  -o-transition: -o-transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.flip-card .play-card-front,
.flip-card .edit-card-front {
  -moz-transform: perspective(300) rotateY(0);
  -webkit-transform: perspective(300) rotateY(0);
  transform: perspective(300) rotateY(0);
  z-index: 900;
}
.flip-card .play-card-back,
.flip-card .edit-card-back {
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 800;
}
.flip-card-clicked .play-card-front,
.flip-card-clicked .edit-card-front {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-transform: perspective(300) rotateY(180deg);
  -webkit-transform: perspective(300) rotateY(180deg);
  transform: perspective(300) rotateY(180deg);
}
.flip-card-clicked .play-card-back,
.flip-card-clicked .edit-card-back {
  z-index: 950;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -moz-transform: perspective(300) rotateY(0deg);
  -webkit-transform: perspective(300) rotateY(0deg);
  transform: perspective(300) rotateY(0deg);
}

.flip-card:hover{
  transform: scale(1.02);
}

.memory-matched {
  border: solid 3px #5590fc;
}

.memory-pair-right{
  top:0;

}

.memory-card:hover #Rectangle_1802{
  fill: #c1d8f8;
}

/* MEMORY CARD THEMES
    edit-card-front and edit-card-back are for edit mode
    sidebar-card-front and sidebar-card-back are for the sidebar
    play-card-front and play-card-back are for play mode
*/

/* Theme: Basic */
.memory-theme-basic .edit-card-front, .memory-theme-basic .sidebar-card-front,
.memory-theme-basic .play-card-front {
  background: white;
}
.memory-theme-basic .edit-card-back, .memory-theme-basic .sidebar-card-back,
.memory-theme-basic .play-card-back {
  background: white;
}
.memory-theme-basic .text-contents {
}

/* Theme: Foo */
.memory-theme-foo .edit-card-front, .memory-theme-foo .sidebar-card-front,
.memory-theme-foo .play-card-front {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.memory-theme-foo .edit-card-back, .memory-theme-foo .sidebar-card-back,
.memory-theme-foo .play-card-back {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.memory-theme-foo .text-contents {
    font-family: 'gveret_levin_alefalefalefRg';

}

/* Theme: Bar */
.memory-theme-bar .edit-card-front, .memory-theme-bar .sidebar-card-front,
.memory-theme-bar .play-card-front {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.memory-theme-bar .edit-card-back, .memory-theme-bar .sidebar-card-back,
.memory-theme-bar .play-card-back {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.memory-theme-bar .text-contents {
}

/*  ORANGE THEME */

.memory-theme-orange .edit-card-front, .memory-theme-orange .sidebar-card-front,
.memory-theme-orange .play-card-front{
  background-color: white;
  border: solid 5px #fd6220;
}

.memory-theme-orange .edit-card-back, .memory-theme-orange .sidebar-card-back,
.memory-theme-orange .play-card-back {
  background-image: url('{{MEDIA_UI}}/Theme_Brush_Back@2x.png');
  background-size: cover;
}

.memory-theme-orange .text-contents {
  font-family: 'Caveat', cursive;
}

/* Chalkboard */

.memory-theme-chalk .edit-card-front, .memory-theme-chalk .sidebar-card-front,
.memory-theme-chalk .play-card-front{
  background-color: white;
  border: solid 3px #8dbbfd;
}

.memory-theme-chalk .edit-card-back, .memory-theme-chalk .sidebar-card-back,
.memory-theme-chalk .play-card-back {
  background-image: url('{{MEDIA_UI}}/Theme_Doodles_Back@2x.png');
  background-size: cover;
}

.memory-theme-chalk .text-contents {
  font-family: 'Alef', sans-serif;
}

/* --END MEMORY CARD THEMES -- */
.memory-added-image{

  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.memory-added-image::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;


}

.memory-added-image::before{
  border-color: transparent  #42cc7a transparent transparent;
}


.memory-added-image::after{
  border-color: transparent  #f0fcf5 transparent transparent;
}


.memory-added-image::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;


}




.memory-grid-1{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.memory-grid-2{
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.memory-grid-3, .memory-grid-7{
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.memory-grid-4, .memory-grid-8{
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.memory-grid-5{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

}


.memory-grid-6 {
  grid-template-columns: repeat(5, 1fr);
}

.memory-grid-6 .memory-card-full:nth-last-child(3), .memory-grid-5 .memory-card-full:nth-last-child(2), .memory-grid-7 .memory-card-full:nth-last-child(4), .memory-grid-8 .memory-card-full:nth-last-child(5) {
  grid-column-start: 2;
}
