main {
    display: grid;
    gap: 8px;
    max-width: 536px;
    padding-block: 40px;
    padding-inline: 62px;
}
h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    color: var(--dark-blue-4);
}
.list-item {
    margin: 0;
    font-size: 14px;
    color: var(--dark-gray-6);
    display: flex;
    gap: 10px;
}
.list-item fa-icon {
    color: var(--dark-blue-4);
}
h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-blue-4);
}
hr {
    border: 0;
    background-color: var(--light-gray-2);
    width: 100%;
    height: 1px;
    margin: 16px 0;
}
.inputs {
    display: grid;
    gap: 24px;
}
@media (min-width: 1024px) {
    .inputs {
        grid-template-columns: 1fr 1fr;
    }
}
button-rect {
    justify-self: end;
}
