main {
    display: grid;
    gap: 8px;
    max-width: 536px;
    padding-block: 40px;
    padding-inline: 62px;
}
h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    color: var(--dark-blue-4);
}
.list-item {
    margin: 0;
    font-size: 14px;
    color: var(--dark-gray-6);
    display: flex;
    gap: 10px;
}
.list-item fa-icon {
    color: var(--dark-blue-4);
}
h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-blue-4);
}
.inputs {
    display: grid;
    gap: 24px;
}
@media (min-width: 1024px) {
    .inputs {
        grid-template-columns: 1fr 1fr;
    }
}
.promo label {
    margin-bottom: 0.25rem;
    font-size: 15px;
    display: block;
}
.promo input {
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 12px;
    transition: box-shadow 0.15s ease, color 0.15s ease;
    appearance: none;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
.promo input:focus {
    box-shadow: 0 0 0 3px hsla(211, 100%, 50%, 25%), 0 0 0 1px hsla(211, 100%, 50%, 50%);
    outline: 0;
}
button-rect {
    justify-self: end;
}
.actions {
    display: flex;
    gap: 24px;
    justify-content: end;
}
