{% import "_common/sidebar/sidebar-macros.html" as Sidebar %}
{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "_common/input/input-macros.html" as Input %}

<div class="flex">
{{ Sidebar::sidebar(navbarLink="Label images", navbarLinkJig="Label JIGS", dataId="btn-1") }}
  <div class="w-full px-8 pt-6">
    {# --- THESE TWO LINES WERE IN _titles --- #}
      <h1 class="text-2xl py-2 mb-4 font-poppins font-light">Edit Categories</h1>
      <div class="bordersolid border-b-2 w-full border-grey-400"></div>
    {# --- #}
    <div class="flex mb-2">
      <div class="w-1/2">
        <div class="flex justify-between py-3">
          <div class="flex items-center">
            <p class="text-jibuttonBlue font-medium">Categories</p>
          </div>
          {{ ButtonMacros::blue(label="Add Category", dataId="new-cat-btn", hover="") }}
        </div>
        <div data-id="list"></div>
      </div>
      <div class="w-1/2"></div>
    </div>


  </div>
</div>
