{% import "_buttons/button-macros.html" as ButtonMacros %}

<div class="flex">

  <div class="px-56 py-60">
    <h1 class="text-jititleorange text-5xl font-light mb-8">Welcome to JI family</h1>
    <div class="">


      <p class="text-lg mb-16 w-763 font-light">You can now create, play, and share your content.<br>
        We are here to help you in whatever you need.
      </p>

      {{ ButtonMacros::orange(label="Go to JI home", dataId="btn-1") }}


    </div>
    <img class="transform rotate-90 ml-auto" src="{{MEDIA_UI}}/shapes-1.png" alt="">
  </div>

</div>