{% macro top_step(selected, expected, label) %}
      <div class="flex flex-col items-center">
        {% if selected==expected %}
        <div class="rounded-full h-48 w-48 bg-jibuttonBlue flex items-center justify-center text-white">
        {% else %}
        <div class="rounded-full h-48 w-48 bg-white border border-jigrey flex items-center justify-center">
        {% endif %}
          <p>{{ expected }}</p>
        </div>
        <p {% if selected==true %} class="text-jibuttonBlue" {% endif %}>{{ label }}</p>
      </div>
{% endmacro top_step %}

{% macro top_steps(selected) %}
<div class="flex justify-between items-center p-4 border-b border-jidarkgrey">
    {{ self::top_step(selected=selected, expected=1, label="Content") }}
    <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
    {{ self::top_step(selected=selected, expected=2, label="Design") }}
    <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
    {{ self::top_step(selected=selected, expected=3, label="Instructions") }}
    <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
    {{ self::top_step(selected=selected, expected=4, label="Preview") }}
</div>
{% endmacro top_steps %}
