{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "user/user-macros.html" as User %}

<div class="flex">
  <div class="bg-jisideblue bg-shapes bg-no-repeat bg-auto bg-center h-screen w-480 min-w-300">
  </div>
  <div class="p-80">
    <h1 class="text-jititleorange text-5xl font-light mb-8">Create a new password</h1>
    <div class="">
      {{ User::user_input(label="Enter new password",width="w-297",inputwidth="w-296", dataId="${id}", placeholder="Type your new password") }}
      <div class="h-32">

      </div>
      {{ ButtonMacros::orange(label="Set Password", dataId="btn-1") }}
      <p class="mt-6">You’ll be logged in automatically after this</p>
    </div>
  </div>
</div>