:host {
    display: grid;
    max-width: 536px;
    padding-block: 40px;
    padding-inline: 62px;
}
h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    color: var(--dark-blue-4);
}
h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: var(--dark-gray-6);
}
.inputs {
    display: grid;
    column-gap: 24px;
    row-gap: 32px;
}
@media (min-width: 1024px) {
    .inputs {
        grid-template-columns: 1fr 1fr;
    }
}
.inputs .image > div {
    height: 150px;
    display: grid;
}
.actions {
    display: flex;
    gap: 24px;
    justify-content: end;
}
