{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "_common/input/input-macros.html" as Input %}

<div class="flex bg-jibackgroundBlue  h-full min-h-screen">
  <div class="sidebar w-72 bg-white h-auto min-h-screen  shadow-sm flex flex-col items-center">
    <img src="{{MEDIA_UI}}/LogoIcon.svg" alt="" class="my-8 ml-auto mr-auto">
    <img src="{{MEDIA_UI}}/icn-chevron-jig.svg" alt="" class="self-end">
    <img src="{{MEDIA_UI}}/jig-cover.svg" alt="" class="mb-4">
    <div class="h-160 bg-jibackgroundGrey border-l-8 border-jibuttonBlue w-full pt-4 pl-2">
      <h1 class="text-jibuttonBlue font-bold">01</h1>
    </div>
    <div class="h-160  w-full pt-4 pl-2 border-jidarkgrey border-b pl-4">
      <h1 class="text-jibuttonBlue font-bold">02</h1>
    </div>
  </div>
  <div class="bg-white ml-6 w-516 ">
    <div class="flex p-8">
      <div class="">
        <p>Select</p>
      </div>
      <!-- bg-jibuttonBlue text-white for active and bg-jigooglegrey and text-black for inactive -->
      <div class="flex mb-4">

        <div class="h-24 w-112 bg-jigooglegrey rounded-md flex items-center justify-center ml-6 mr-2">
          <p class=" text-black text-sm">Starting layout</p>
        </div>
        <div class="h-24 w-68 bg-jigooglegrey rounded-md flex items-center justify-center mx-2">
          <p class="text-black text-sm">Theme</p>
        </div>
      </div>

    </div>
    <div class="border-t border-b border-jidarkgrey py-4">
      <div class="flex items-center pl-8">
        <p class="mr-5">Add</p>
        <img src="{{MEDIA_UI}}/icn-text-jig.svg" alt="" class="ml-2">
        <img src="{{MEDIA_UI}}/icn-image-jig.svg" alt="" class="ml-2">
        <img src="{{MEDIA_UI}}/icn-background-color-jig.svg" alt="" class="ml-2">
        <img src="{{MEDIA_UI}}/icn-record-jig-active.svg" alt="" class="ml-2">
        <img src="{{MEDIA_UI}}/icn-sound-f-ile-jig.svg" alt="" class="ml-2">
      </div>
    </div>

    <div class="px-8">
      <div class="flex justify-between pt-4 ">
        <p class="">Recent</p>
        <p class="text-jibuttonBlue">Show All</p>
      </div>
      <div class="grid grid-cols-4 mb-2">
        <div class="max-h-83.5 max-w-83.5 bg-jiimagegrey flex justify-center items-center m-1 jig-image-selected ">
          <img src="{{MEDIA_UI}}/sticker-4991-2018-08-17-full.png" alt="" class="h-full ">
        </div>
        <div class="max-h-83.5 max-w-83.5 bg-jiimagegrey flex justify-center items-center m-1">
          <img src="{{MEDIA_UI}}/sticker-4991-2018-08-17-full.png" alt="" class="h-full ">
        </div>
      </div>
      <div class="h-1 w-full bg-jidarkgrey "></div>
      <div class="flex justify-between py-4 ">
        <p class="">Search Image</p>
        <p class="text-jibuttonBlue">Upload your own</p>
      </div>
      <div class="flex justify-end pr-2 pb-2">
        {{ Input::checkbox(label="JI Stickers", required=true, inputDataId="tos", class="px-2") }}
        {{ Input::checkbox(label="Web", required=true, inputDataId="tos", class="px-2") }}

      </div>
      <div class="-ml-2">
        {{ Input::jigsearchboxfull(label="Search", required=true, inputDataId="tos", class="") }}

      </div>
      <div class="mt-2 mb-4">
        {{ Input::checkbox(label="Show only backgrounds", required=true, inputDataId="tos", class="") }}

      </div>
      <div class="grid grid-cols-4 grid-container">
        <!-- When increased size add class row-span-3 col-span-3 and remove max-h-83.5 max-w-83.5-->
        <div class=" bg-jiimagegrey flex justify-center items-center m-1 row-span-3 col-span-3">
          <img src="{{MEDIA_UI}}/sticker-4991-2018-08-17-full.png" alt="" class="h-full ">
        </div>
        <div class="max-h-83.5 max-w-83.5 bg-jiimagegrey flex justify-center items-center m-1 small">
          <img src="{{MEDIA_UI}}/sticker-4991-2018-08-17-full.png" alt="" class="h-full ">
        </div>
        <div class="max-h-83.5 max-w-83.5 bg-jiimagegrey flex justify-center items-center m-1 small">
          <img src="{{MEDIA_UI}}/sticker-4991-2018-08-17-full.png" alt="" class="h-full ">
        </div>
        <div class="max-h-83.5 max-w-83.5 bg-jiimagegrey flex justify-center items-center m-1 small">
          <img src="{{MEDIA_UI}}/sticker-4991-2018-08-17-full.png" alt="" class="h-full ">
        </div>
        <div class="max-h-83.5 max-w-83.5 bg-jiimagegrey flex justify-center items-center m-1 small">
          <img src="{{MEDIA_UI}}/sticker-4991-2018-08-17-full.png" alt="" class="h-full ">
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full">
    <div class="flex justify-center items-center mt-4 self-end mr-4">

      <div class="bg-white w-325 h-56 rounded-full shadow-md">
        <div class="flex items-center h-full p-2">
          <div class="flex mx-4 pr-4 border-r border-jiheadergrey">
            <img src="{{MEDIA_UI}}/icn-undo.svg" alt="" class="mx-2">
            <div data-id="tooltiptop">

            </div>
            <img src="{{MEDIA_UI}}/icn-redo.svg" alt="" class="mx-2">

          </div>
          <div class="pr-4 border-r border-jiheadergrey">
            <p>Preview</p>
          </div>
          <div class="pl-4">
            <div class="h-24 w-68 bg-jibuttonBlue rounded-md flex items-center justify-center ">
              <p class="text-white text-sm">Share</p>
            </div>
          </div>

        </div>

      </div>

      <div class="ml-12">
        <img src="{{MEDIA_UI}}/Creator@2x.png" alt="">
      </div>

    </div>
    <div class="pl-8">
      <h1 class="text-jititleorange text-4xl font-light mb-4">Create a Cover Page</h1>
      <p class="font-light text-lg">Introduce your topic</p>
      <p class="font-light text-lg">Use the blue panel for selecting layouts, themes, and adding content</p>
      <div class="w-1212 h-681 bg-white mt-4 rounded-sm pt-16:9 mb-4">

      </div>
      <div class="flex justify-end w-full">
        {{ ButtonMacros::orange(label="Done", dataId="next") }}
      </div>



    </div>
  </div>
</div>