<div class="absolute h-581 w-504 bg-jilogingrey rounded-lg top-0 left-0 ">
  <div class=" flex relative p-4">
    <img src="{{MEDIA_UI}}/icn-chevron-idle.svg" alt="">
    <p class="text-jibuttonBlue">Back to all colors</p>
  </div>
  <div class="h-1 w-full bg-jidarkgrey">
  </div>
  <div class="p-4">
    <p>Add Color</p>
    <div class="grid grid-cols-6 mt-4">
      <div class="input-color-container">
        <input id="input-color" value="#fff" class="input-color" type="color">
      </div>



    </div>
    <div class="h-1 w-full bg-jidarkgrey my-2">

    </div>
    <div class="flex items-center">

      <p class="text-jibuttonBlue">Use this color</p>
    </div>
  </div>
</div>