{% import "_common/buttons/button-macros.html" as ButtonMacros %}

<div class="flex bg-jibackgroundBlue  h-full min-h-screen">
  <div class="sidebar w-72 bg-white h-auto min-h-screen  shadow-sm flex flex-col items-center">
    <img src="{{MEDIA_UI}}/LogoIcon.svg" alt="" class="my-8">
    <img src="{{MEDIA_UI}}/icn-chevron-jig.svg" alt="" class="self-end">
    <img src="{{MEDIA_UI}}/jig-cover.svg" alt="" class="mb-4">
    <div class="h-160 bg-jibackgroundGrey border-l-8 border-jibuttonBlue w-full pt-4 pl-2">
      <h1 class="text-jibuttonBlue font-bold">01</h1>
    </div>
    <div class="h-160  w-full pt-4 pl-2 border-jidarkgrey border-b pl-4">
      <h1 class="text-jibuttonBlue font-bold">02</h1>
    </div>
  </div>
  <div class="bg-white ml-6 w-516 ">
    <div class="flex justify-between p-4">
      <div class="">
        <p>Select</p>
      </div>
      <!-- bg-jibuttonBlue text-white for active and bg-jigooglegrey and text-black for inactive -->
      <div class="flex mb-4">

        <div class="h-24 w-112 bg-jigooglegrey rounded-md flex items-center justify-center mx-2">
          <p class="text-black text-sm">Starting layout</p>
        </div>
        <div class="border-r border-jiheadergrey">

        </div>
        <div class="h-24 w-68 bg-jigooglegrey rounded-md flex items-center justify-center mx-2">
          <p class="text-black text-sm">Theme</p>
        </div>
      </div>

    </div>
    <div class="border-t border-b border-jidarkgrey py-4">
      <div class="flex items-center pl-4">
        <p>Add</p>
        <img src="{{MEDIA_UI}}/icn-text-jig.svg" alt="">
        <img src="{{MEDIA_UI}}/icn-image-jig.svg" alt="">
        <img src="{{MEDIA_UI}}/icn-background-color-jig.svg" alt="">
        <img src="{{MEDIA_UI}}/icn-record-jig.svg" alt="">
        <img src="{{MEDIA_UI}}/icn-sound-f-ile-jig.svg" alt="">
      </div>
    </div>
    <div class="px-4">
      <p class=" pt-4">Select Layout</p>
      <div class="flex flex-wrap pt-4">
        <!-- When selected with these classes. When not selected bg-white text-black -->
        <div class="w-236 h-177 border bg-jibuttonBlue rounded-md flex flex-col items-center p-2">
          <img class="w-200 mb-2" src="{{MEDIA_UI}}/Layout_Background_Color.png" alt="">
          <p class="text-white">Background color</p>
        </div>
      </div>
    </div>

  </div>
  <div class="flex flex-col w-full">
    <div class="flex justify-center items-center mt-4 self-end mr-4">

      <div class="bg-white w-325 h-56 rounded-full shadow-md">
        <div class="flex items-center h-full p-2">
          <div class="flex mx-4 pr-4 border-r border-jiheadergrey">
            <img src="{{MEDIA_UI}}/icn-undo.svg" alt="" class="mx-2">

            <img src="{{MEDIA_UI}}/icn-redo.svg" alt="" class="mx-2">

          </div>
          <div class="pr-4 border-r border-jiheadergrey">
            <p>Preview</p>
          </div>
          <div class="pl-4">
            <div class="h-24 w-68 bg-jibuttonBlue rounded-md flex items-center justify-center ">
              <p class="text-white text-sm">Share</p>
            </div>
          </div>

        </div>
      </div>

      <div class="ml-12">
        <img src="{{MEDIA_UI}}/Creator@2x.png" alt="">
      </div>
    </div>
    <div class="pl-8 -mt-16">
      <h1 class="text-jititleorange text-4xl font-light mb-4">Create a Cover Page</h1>
      <p class="font-light text-lg">Introduce your topic</p>
      <p class="font-light text-lg">Use the blue panel for selecting layouts, themes, and adding content</p>
      <div class="w-1212 h-681 bg-white mt-4 rounded-sm mb-4">

      </div>
      <div class="flex justify-end w-full">
        {{ ButtonMacros::orange(label="Try for free", dataId="next") }}
      </div>



    </div>
  </div>
</div>