:host {
    display: grid;
    grid-auto-rows: minmax(0, 1fr);
}

.remove {
    font-size: 12px;
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    margin: 10px;
    z-index: 1;
}

input-file {
    grid-column: 1;
    grid-row: 1;
    border-radius: 16px;
    justify-items: center;
}

input-file.error {
    border-color: var(--red-alert);
}

input-file::part(wrapper) {
    justify-items: center;
    padding: 10px;
    box-sizing: border-box;
}

input-file img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.empty {
    display: grid;
    justify-items: center;
}

.empty fa-icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
    background-color: #e7f0fe;
    color: #afccf1;
    font-size: 26px;
}

.empty .pick-file-message {
    color: var(--dark-gray-3);
    font-size: 14px;
}

.empty .file-size {
    color: var(--dark-gray-4);
    font-size: 13px;
}

.empty .error-message {
    color: var(--red-alert);
    text-align: center;
    font-size: 14px;
}
