{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "user/user-macros.html" as User %}

<div class="flex">
  <div class="bg-jisideblue bg-shapes bg-no-repeat bg-auto bg-center h-screen w-480 min-w-300">
  </div>
  <div class="p-80">
    <h1 class="text-jititleorange text-5xl font-light mb-8">Login</h1>
    <div class="w-297">
      <div data-id="google-signin" class="cursor-pointer mb-8">
        <div class="border rounded-sm border-jigooglegrey shadow-md h-64">
          <span class="flex items-center font-sans font-normal text-lg"><img src="{{MEDIA_UI}}/icn-google-button-64.svg" alt="">Sign in with Google</span>

        </div>
      </div>
      <div class="flex items-center justify-center mb-8">
        <hr class="w-112 mr-5">
        <p>or</p>
        <hr class="w-112 ml-5">

      </div>

      {{ User::user_input(label="Email",width="w-297",inputwidth="w-296", inputDataId="email", placeholder="Username" )}}
      <div data-id="email-error" class="error-message"></div>
      {{ User::user_pw(label="Password",width="w-297", inputwidth="w-296", inputDataId="password") }}
      <div data-id="password-error" class="error-message"></div>


      <div data-id="forgot-password" class="text-right text-jibuttonBlue mb-12 cursor-pointer">Forgot your Password?</div>

      {{ ButtonMacros::orange(label="Submit", dataId="email-signin") }}
      <div data-id="status-message" class="error-message"></div>
      <p class="  mt-6">Don't have an account yet? <span data-id="register-link" class="cursor-pointer text-jibuttonBlue">Register</span></p>
    </div>
  </div>
</div>