{% import "_buttons/button-macros.html" as ButtonMacros %}
{% import "login/signup-macros.html" as SignUp %}

<div class="flex">
  <div class="bg-jisideblue bg-shapes bg-no-repeat bg-auto bg-center h-screen w-480 min-w-300">
  </div>
  <div class="px-80 py-60">
    <h1 class="text-jititleorange text-5xl font-light mb-8">Change Email account</h1>
    <div class="">


      <p class="text-lg mb-8 w-763 font-light">This is the email that you filled in, You can change it now
      </p>

      {{ SignUp::signupinput(label="Email",width="w-624",inputwidth="w-296", dataId="${id}") }}
      <div class="h-56">

      </div>
      {{ ButtonMacros::orange(label="Email me to the new address", dataId="btn-1") }}


    </div>
  </div>
</div>