{% import "_buttons/button-macros.html" as ButtonMacros %}
{% import "login/signup-macros.html" as SignUp %}
{% import "_input/input-macros.html" as Input %}

<div class="flex">
  <div class="bg-jisideblue bg-shapes bg-no-repeat bg-auto bg-center h-screen w-480 min-w-300">
  </div>
  <div class="px-80 py-60">
    <h1 class="text-jititleorange text-5xl font-light mb-8">Sign up - Step 1</h1>
    <div class="">
      <div class="flex">
        <div class="">
          <p class="text-2xl mb-8">General info</p>
          <div class="flex">
            {{ SignUp::signupinput(label="First name*",width="w-297",inputwidth="w-296", dataId="${id}") }}
            <div class="spacer w-30"></div>
            {{ SignUp::signupinput(label="Family name*",width="w-297",inputwidth="w-296", dataId="${id}") }}
          </div>
          {{ SignUp::signupinput(label="Create a User name*",width="w-full",inputwidth="w-full", dataId="${id}") }}
          <div class="flex">
            {{ SignUp::signupinput(label="Password*",width="w-297",inputwidth="w-296", dataId="${id}") }}
            <div class="spacer w-30"></div>
            {{ SignUp::signupinput(label="Confirm your password*",width="w-297",inputwidth="w-296", dataId="${id}") }}
          </div>
          {{ SignUp::signupinput(label="Email*",width="w-full",inputwidth="w-full", dataId="${id}") }}
          {{ Input::checkbox(label="I am over 18", dataId="${id}", class="px-2") }}
          <div class="mt-2">
            {{ ButtonMacros::orange(label="Next", dataId="btn-1") }}
          </div>

          <p class="text-jibuttonBlue mt-4">Already have an account? <a href="#">Login</a></p>

        </div>
        <div class="">
          <p class="text-2xl mb-8">Login with Google</p>
          {{ SignUp::signupinput(label="Your Google Email*",width="w-297",inputwidth="w-296", dataId="${id}") }}
          {{ Input::checkbox(label="I am over 18", dataId="${id}", class="px-2") }}
          <div class="mt-2">
            {{ ButtonMacros::orange(label="Next", dataId="btn-1") }}
          </div>
        </div>

      </div>








    </div>
  </div>
</div>