<div class="mb-4 absolute z-10 w-272 left-0 top-50">
  <!--This should be toggled when clicking on filter FILTERBOX-->
  <div class="bg-jibackgroundGrey rounded-md shadow-lg py-2">
    <label for="name" class="">
      <span class="text-jibuttonBlue px-2">Filter by:</span>
      <div class="flex items-center border-b border-jigreyicon py-2 relative">

        <img src="{{MEDIA_UI}}/Icn_Chevron_TextFields.svg" alt="" class="absolute right-10">
        <input data-id="" type="search" name="" value="" class="ml-2 bg-jibackgroundGrey outline-none focus:outline-none" placeholder="">

      </div>
    </label>
    <ul class="py-2 text-black">

      <li class="hover:bg-jiborderGrey">
        <div class="px-2">All Languages</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">English (US)</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">English (UK)</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">Hebrew</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">French</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">Spanish</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">Russian</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">German</div>
      </li>
      <li class="hover:bg-jiborderGrey">
        <div class="px-2">Swedish</div>
      </li>


    </ul>

  </div>
</div>
