:host {
    display: grid;
    grid-template-columns: 6fr 13fr;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto auto;
    gap: 24px;
}
.header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 120px 1fr 138px;
    grid-template-rows: auto auto auto auto;
    column-gap: 32px;
}
.header profile-image {
    grid-row: 1 / -1;
    grid-column: 1;
    align-self: start;
    aspect-ratio: 1 / 1;
}
.header .edit-image {
    grid-row: 1;
    grid-column: 1;
    align-self: start;
    justify-self: end;
}
.header .name {
    grid-column: 2;
    font-size: 40px;
    font-weight: 800;
    color: var(--dark-blue-4);
}
.header .badge {
    grid-column: 2;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #383838;
}
.header hr {
    grid-column: 2 / -1;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px var(--light-gray-2);
    margin: 16px 0;
}
.header .anchors {
    grid-column: 2 / -1;
    display: flex;
    gap: 16px;
}
.header .follow-button {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
}
section {
    padding: 24px;
    border-radius: 16px;
    border: solid 1px var(--light-orange-3);
    background-color: var(--white);
    overflow: auto;
}
section h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue-4);
    margin-bottom: 28px;
}
section .header-with-edit {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}
section .header-with-edit h3 {
    /* clear margin, parent has it already */
    margin-bottom: 0;
}
section h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-gray-5);
}
.about-section {
    grid-column: 1;
    grid-row: 2/-1;
    align-self: start;
}
.about-section .icon-label {
    display: grid;
    gap: 16px;
}
.about-section .icon-label .item {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 14px;
}
.about-section .icon-label .item p {
    margin: 0;
    font-size: 14px;
    color: #383838;
}
.about-section .icon-label .item img-ui {
    justify-self: center;
}
.about-section hr {
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px #ffe2bf;
    margin: 20px 0;
}
.about-section .about-text {
    font-size: 14px;
    color: #383838;
}
.items-container {
    display: grid;
    gap: 24px;
    margin-bottom: 30px;
}
.items-container .items {
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 24px;
}
.creations-section {
    grid-column: 2;
}
.network-section {
    grid-column: 2;
}
.creations-section,
.network-section {
    padding-inline: 0;
}
.creations-section h3,
.creations-section h4,
.network-section h3,
.network-section h4 {
    padding-inline: 24px;
}
.creations-section .items,
.network-section .items {
    padding-inline: 24px;
    padding-bottom: 18px;
}
