<div class="absolute p-2 z-40 dropdown cursor-pointer top-0 right-0">
  <ul class="bg-white rounded-md shadow-md w-150 py-3 text-sm relative">
    <li data-id="edit" class="hover:bg-jibackgroundBlue">
      <div class="p-1 pl-4"><span class="flex items-center"><img src="{{MEDIA_UI}}/icn-edit.svg" class="mr-1" alt="">Edit</span></div>
    </li>
    <li data-id="duplicate" class="hover:bg-jibackgroundBlue">
      <div class="p-1 pl-4"><span class="flex items-center"><img src="{{MEDIA_UI}}/icn-duplicate.svg" alt="" class="mr-1">Duplicate</span></div>
    </li>
    <li data-id="copy" class="hover:bg-jibackgroundBlue">
      <div class="p-1 pl-4"><span class="flex items-center"><img src="{{MEDIA_UI}}/icn-copy.svg" alt="" class="mr-1">Copy</span></div>
    </li>
    <li data-id="move-up" class="hover:bg-jibackgroundBlue">
      <div class="p-1 pl-4"><span class="flex items-center"><img src="{{MEDIA_UI}}/icn-move-up.svg" class="mr-1" alt="">Move Up</span></div>
    </li>
    <li data-id="move-down" class="hover:bg-jibackgroundBlue">
      <div class="p-1 pl-4"><span class="flex items-center"><img src="{{MEDIA_UI}}/icn-move-down.svg" class="mr-1" alt="">Move Down</span></div>
    </li>
    <li data-id="delete" class="hover:bg-jibackgroundBlue">
      <div class="p-1 pl-4"><span class="flex items-center"><img src="{{MEDIA_UI}}/icn-delete.svg" class="mr-1" alt="">Delete</span></div>
    </li>
  </ul>
</div>