<div class="bg-jibackgroundBlue w-full p-10">
  <div class="mb-8 jiheadergrey flex justify-between items-center">
    <div class="">
      <h1 class="text-4xl font-normal mb-2">Add a module</h1>
      <p class="text-lg font-normal mb-1">Create your own digital learning path</p>
      <p class="text-lg font-normal">Select modules and drag them to your JIG on the left</p>
    </div>
    <div class=" flex items-center">
      <p class="text-jiggreen text-sm mr-4">The activity was copied to your clipboard</p>
      <div class="bg-white w-217 h-56 rounded-full shadow-md">
        <div class="flex items-center justify-center h-full p-2">

          <div class="pr-4 border-r border-jiheadergrey">
            <p>Preview</p>
          </div>
          <div class="pl-4">
            <div class="h-24 w-68 bg-jibuttonBlue rounded-md flex items-center justify-center ">
              <p class="text-white text-sm">Share</p>
            </div>
          </div>

        </div>
      </div>
      <div class="ml-12">
        <img src="{{MEDIA_UI}}/Creator@2x.png" alt="">
      </div>

    </div>

  </div>
  <div class="flex justify-between">
    <div class="flex flex-wrap w-640 mr-4 h-full">

      <div class="w-1/4 flex h-160 flex-col items-center mb-8">
        <img data-id="poster" src="{{MEDIA_UI}}/icn-module-poster2.png" alt="" draggable="true" class="cursor-grab">
        <p class="text-lg text-jiheadergrey">Poster</p>
      </div>
      <div class="w-1/4 flex h-160 flex-col items-center mb-8">
        <img data-id="memory-game" src="{{MEDIA_UI}}/module-memory-game.svg" alt="" draggable="true" class="cursor-grab">
        <p class="text-lg text-jiheadergrey">Memory Game</p>
      </div>
      <div class="w-1/4 flex h-160 flex-col items-center mb-8">
        <img src="{{MEDIA_UI}}/Icn_Activity_Flashcards_124.svg" alt="" draggable="true" class="cursor-grab">
        <p class="text-lg text-jiheadergrey">Flashcards</p>
      </div>
      <div class="w-1/4 flex h-160 flex-col items-center mb-8">
        <img src="{{MEDIA_UI}}/Icn_Activity_VideoPlayer_124.svg" alt="" draggable="true" class="cursor-grab">
        <p class="text-lg text-jiheadergrey">Video Player</p>
      </div>
      <div class="w-1/4 flex h-160 flex-col items-center mb-8">
        <img src="{{MEDIA_UI}}/Icn_Activity_Soundboard_124.svg" alt="" draggable="true" class="cursor-grab">
        <p class="text-lg text-jiheadergrey">Soundboard</p>
      </div>
      <div class="w-1/4 flex h-160 flex-col items-center mb-8">
        <img src="{{MEDIA_UI}}/Icn_Activity_Matching_124.svg" alt="" draggable="true" class="cursor-grab">
        <p class="text-lg text-jiheadergrey">Matching</p>
      </div>
      <div class="w-1/4 flex h-160 flex-col items-center mb-8">
        <img src="{{MEDIA_UI}}/Icn_Activity_Tracing_124.svg" alt="" draggable="true" class="cursor-grab">
        <p class="text-lg text-jiheadergrey">Tracing</p>
      </div>
      <div class="w-1/4 flex h-160 flex-col items-center mb-8">
        <img src="{{MEDIA_UI}}/Icn_Activity_30f1Quiz_124.svg" alt="" draggable="true" class="cursor-grab">
        <p class="text-lg text-jiheadergrey">Visual Quiz</p>
      </div>

    </div>

  </div>

</div>