<div class="w-360">
    <div class="header flex border-jigooglegrey border-b-4">
        <div class="h-56 border-r border-jigrey flex items-center justify-center p-4 my-4">
            <img src="{{MEDIA_UI}}/icn-home.svg" alt="">
        </div>
    </div>
    <div class="h-screen overflow-auto">
        <div class="relative mt-4 pr-2 mb-16">
            <img data-id="search-btn" src="{{MEDIA_UI}}/icn-edit.svg" alt="" class="absolute right-10 top-15p cursor-pointer">
            <input data-id="" type="search" name="" value="" class="rounded-lg w-274 h-32 py-2 px-4 border-jiborderGrey bg-jibackgroundGrey solid border ml-2 outline-none focus:outline-none" placeholder="My JIG name">
        </div>
        <div class="h-160 border-solid border-jidarkgrey border-t border-b bg-jibackgroundGrey relative border-l-4 p-4 jig-creator-active overflow-visible">
            <img data-id="menu-btn-first" src="{{MEDIA_UI}}/icn-menu-jig.svg" alt="" class="absolute right-10 top-10 cursor-pointer z-30">
            <img data-id="add-btn-first" src="{{MEDIA_UI}}/Link_Right.svg" alt="" class="absolute top-95 right-50 cursor-pointer z-10">
            <img src="{{MEDIA_UI}}/jig-cover.svg" alt="" class="absolute bottom-10 right-20 z-20">
            <h1 class="text-xl font-bold text-jibuttonBlue">Cover</h1>
            <p>Introduction</p>
            <div data-id="menu"></div>
        </div>

        <div data-id="modules"></div>
        <div class="h-160 border-solid border-jidarkgrey border-b relative p-4">
            <img data-id="menu-btn-last" src="{{MEDIA_UI}}/icn-menu-jig.svg" alt="" class="absolute right-10 top-10 cursor-pointer z-30">
            <img src="{{MEDIA_UI}}/jig-ending.svg" alt="" class="absolute top-40 right-40 z-20">

            <h1 class="text-xl font-bold text-jibuttonBlue">Ending</h1>
            <p>Publish</p>
        </div>
        <div class="h-160 border-solid border-jidarkgrey border-b relative p-4">

        </div>

    </div>
</div>
