<div>
  <div data-id="cat-create-container">
		
      <input data-id="cat-new-name" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cat-new-name" type="text" placeholder="Category">
		<button data-id="cat-create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Create
      </button>
	  <div data-id="categories">
		</div>
	</div>

  
</div>
