dialog {
    padding: 0;
    border: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}
main {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: 1fr 80px 40px;
    background-color: var(--light-blue-1);
}
.close {
    position: absolute;
    display: grid;
    right: 16px;
    top: 16px;
    padding: 12px;
    height: 40px;
    width: 40px;
    place-content: center;
    border-radius: 50%;
    background-color: var(--dark-blue-1);
    box-sizing: border-box;
    font-size: 22px;
    color: #fff;
}
.unit-play {
    display: grid;
    margin: 24px 80px 0 80px;
    border-radius: 16px;
    overflow: hidden;
    object-fit: contain;
}
.unit-edit > * {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: contain; 
}
.middle-section {
    display: grid;
    grid-template-columns: 22px 1fr 22px;
    margin: 0 80px;
    align-content: center;
}
.middle-section .name {
    grid-column: 2;
    grid-row: 1;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--dark-gray-6);
    margin: 0;
}

.middle-section p {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 14px;
    margin: 0;
}

.description {
    color: var(--dark-gray-6);
    text-align: end;
    grid-column: 1;
}

.read-more {
    grid-column: 2;
    color: #5590fc;
    padding-left: 8px;
}
.fullscreen-button {
    grid-column: 3;
    grid-row: 1 / span 2;
    color: var(--main-blue);
    font-size: 26px;
}
.bottom-bar {
    order: 2;
    background-color: var(--light-blue-2);
    display: grid;
    grid-template-columns: 30px auto 30px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.unit-navigation-container {
    display: flex;
    column-gap: 16px;
}
.unit-navigation-button {
    cursor: pointer;
    min-width: 36px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 16px;
    box-sizing: border-box;
    color: var(--dark-gray-3);
    border: solid 1px var(--dark-gray-3);
}
.unit-navigation-button.done {
    color: var(--main-blue);
    border-color: var(--main-blue);
}
.unit-navigation-button.active {
    background-color: var(--dark-blue-5);
    color: #fff;
    border: none;
}
.navigation-button-back,
.navigation-button-forward {
    width: 30px;
    font-size: 26px;
    height: 30px;
    display: grid;
    place-content: center;
}
.navigation-button-back {
    color: var(--light-gray-4);
}
.navigation-button-forward {
    color: var(--main-blue);
}

popup-info {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    bottom: 5vh;
    right: 15vw;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    object-fit: contain;
    padding: 17px;
}

popup-info .popup-name {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: var(--dark-gray-6);
    margin: 0;
    object-fit: contain;
}

popup-info .popup-description {
    color: var(--dark-gray-6);
    text-align: center;
    object-fit: contain;
    margin: 2px 13px 13px 13px;    
    max-width: 20em;
}

popup-info .popup-close {
    text-align: center;
    font-weight: 500;
    color: #5590fc;
}

fa-button,
popup-info ::slotted([slot="popup-close"]) {
    display: flex;
    justify-content: end;
}


