{% macro top_step(selected, expected, label) %}
<div data-id="top-step-{{ expected }}" class="flex flex-col items-center cursor-pointer w-84">

  {% if selected==expected %}
  <div class="rounded-full h-48 w-48 bg-jibuttonBlue flex items-center justify-center text-white">
    <p class="text-white">{{ expected }}</p>
    {% else %}
    <div class="rounded-full h-48 w-48 bg-white border border-jigrey flex items-center justify-center">
      <p>{{ expected }}</p>
      {% endif %}
    </div>

    <p {% if selected==true %} class="text-jibuttonBlue " {% endif %}>{{ label }}</p>

  </div>
  {% endmacro top_step %}

  {% macro top_steps(selected, noborder=false) %}
  <div class=" {% if noborder != true %} border-b border-jidarkgrey {% endif %}">
    <div class="flex justify-between items-center px-4 text-sm pt-8 pb-4">


      {{ self::top_step(selected=selected, expected=1, label="Content") }}
      <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
      {{ self::top_step(selected=selected, expected=2, label="Design") }}
      <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
      {{ self::top_step(selected=selected, expected=3, label="Instructions") }}
      <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
      {{ self::top_step(selected=selected, expected=4, label="Preview") }}
    </div>
  </div>
  {% endmacro top_steps %}

  {% macro step_2_card(selected) %}
  {% if selected %}
  <div class="w-240 h-216 border bg-jibuttonBlue rounded-16 flex flex-col items-center  mb-4 py-10">
    {% else %}
    <div class="w-240 h-216  bg-white rounded-md flex flex-col items-center py-10 mb-4">
      {% endif %}
      <div class="relative flex flex-col items-center">
        <div class="flex mb-6">

          <div data-id="left" class="h-110 w-110 bg-white rounded-16 shadow-lg flex items-center justify-center sidebar-card-left sidebar-card-front">
            <p data-id="text-contents" class="font-medium text-4xl text-contents pointer-none select-none"></p>
          </div>
          <div data-id="right" class="h-110 w-110 bg-white rounded-16 shadow-lg   flex items-center justify-center sidebar-card-right sidebar-card-back">
          </div>

        </div>

        {% if selected %}
        <p data-id="label" class="text-white  text-lg  pointer-none select-none">
          {% else %}
        <p data-id="label" class="text-black  text-lg pointer-none select-none">
          {% endif %}
        </p>
      </div>
    </div>
    {% endmacro step_2_card %}