<div class="">
  <button type="button" name="button" class="bg-jiorange rounded-16 px-6 py-1 hover:bg-jiorangehover disabled:bg-jigrey active:bg-jiorangehover focus:outline-none">
    <p class="text-white">Placeholder</p>
  </button>
  <button type="button" name="button" class="bg-white border border-jiheadergrey rounded-16 px-6 py-1 hover:border-jiorangehover hover:text-jiorangehover disabled:bg-jigrey active:bg-jiorangehover focus:outline-none">
    <p class="text-jiheadergrey">Placeholder</p>
  </button>
</div>