@import "tailwindcss/base";
@import "tailwindcss/components";

@import "_common/module";
@import "user/signup";
@import "admin/header";
@import "admin/tests";
@import "admin/search";
@import "jig/jig";
@import "memory/memory";


@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

@font-face {
    font-family: 'dana_yad_alefalefalefnormal';
    src: url('{{MEDIA_UI}}/dana/danayadalefalefalef-normal-webfont.woff2') format('woff2'),
         url('{{MEDIA_UI}}/dana/danayadalefalefalef-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




body {
  padding:0 !important
}

* {
  font-family: 'Poppins', sans-serif;
  color: #4a4a4a
}

html,body,main {
    -webkit-text-size-adjust:none;
    text-size-adjust: none;
}
