<div>
  <nav class="h-screen w-1/5 bg-jiblue relative">
    <div class="absolute px-3 py-4 right-0">
      <img src="%MEDIA_UI%/icon-close-menu.svg" alt="">
    </div>
    <div class="py-10 px-10">
      <img src="%MEDIA_UI%/Logo_JI_ContentManager.svg" alt="sidebar logo">
    </div>
    <div class="flex flex-col text-18 azoSans font-medium">
      <span class="active:bg-jihoverblue h-56">
        <a class="px-10" href="#">${navbarLink}</a>
      </span>
      <span class="active:bg-jihoverblue h-56">
        <a class="px-10" href="#">${navbarLink}</a>
      </span>
      <span class="active:bg-jihoverblue h-56">
        <a class="px-10" href="#">${navbarLink}</a>
      </span>
    </div>
  </nav>
</div>
