:host {
    display: grid;
    gap: 40px;
    justify-items: center;
    padding: 30px;
}
@media (min-width: 1024px) {
    :host {
        padding: 100px;
    }
}
.code:not(:first-child) .cell,
.header:not(:first-child) .cell {
    border-top: var(--border);
}
.cell:not(:first-child),
.header .cell:not(:first-child) {
    border-left: var(--border);
}
.codes {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    --border: solid 1px #00000010;
    border: var(--border);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    max-width: 90vw;
    overflow: auto;

    .header {
        display: contents;
    }
    .header .cell {
        padding: 6px 10px;
        font-size: 12px;
    }
    .code {
        text-decoration: none;
        display: contents;

        &:hover .cell {
            background-color: var(--light-blue-1);
        }

        .cell,
        &:active .cell,
        &:visited .cell,
        &:hover .cell {
            color: var(--main-blue);
            padding: 10px;
            text-align: center;
            display: grid;
            place-content: center;
        }
        .cell {
            &.name {
                display: grid;
                grid-template-columns: 1fr 36px;
                gap: 5px;
                
                input {
                    border: none;
                    padding: 0;
                    color: inherit;
                    box-sizing: border-box;
                    background-color: transparent;
                    cursor: inherit;
                }
                input:not(:read-only) {
                    border: solid black 1px;
                    color: black;
                    cursor: text;
                }
                .actions {
                    display: flex;
                    gap: 5px;
                    justify-content: end;
                }
            }
            &.created-at {
                font-size: 12px;
                color: gray;
            }
        }
    }
}
