:host {
    padding: 100px;
    display: grid;
    gap: 40px;
    justify-items: center;
}
.codes {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    --border: solid 1px #00000010;
    border: var(--border);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}
.codes .header {
    display: contents;
}
.codes .header .cell {
    padding: 6px 10px;
    font-size: 12px;
}
.codes .code {
    text-decoration: none;
    display: contents;
}
.codes .code .cell {
    padding: 10px;
}
.codes .code:hover .cell {
    background-color: var(--light-blue-1);
}
.codes .code .cell,
.codes .code:active .cell,
.codes .code:visited .cell,
.codes .code:hover .cell {
    color: var(--main-blue);
    text-align: center;
}
.codes .code:not(:first-child) .cell,
.codes .header:not(:first-child) .cell {
    border-top: var(--border);
}
.codes .code .cell:not(:first-child),
.codes .header .cell:not(:first-child) {
    border-left: var(--border);
}
