<div class="flex bg-jibackgroundBlue w-screen h-screen">

  <nav data-id="nav" style="width: 100px" class="bg-white h-full shadow-sm flex flex-col items-center">
    <img src="{{MEDIA_UI}}/LogoIcon.svg" alt="" class="my-8">
    <img src="{{MEDIA_UI}}/icn-chevron-jig.svg" alt="" class="self-end">
    <img src="{{MEDIA_UI}}/jig-cover.svg" alt="" style="width: 72px; height: 92px;" class="mb-4">
    <div data-id="modules" class="w-full overflow-y-auto"></div>
  </nav>

  <iframe data-id="iframe" class="w-full h-screen"></iframe>
</div>