{% import "_common/input/input-macros.html" as Input %}
<div class="">
  <div class="h-383 w-full bg-jicreatorblue p-10">
    <div class="flex justify-between items-center mb-10">
      <div class="">
        <h1 class="text-jititleorange text-4xl font-light mb-4">Create a New JIG</h1>
        <p class="font-light text-lg">Choose from the options below to create your own digital learning activity</p>
      </div>
      <div class="">
        {{ Input::jigsearchbox(dataId="#", label="Search Template") }}
      </div>
    </div>
    <div class="flex">
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 bg-white shadow-sm flex justify-center items-center">
          <img src="{{MEDIA_UI}}/icn-create-your-own.svg" alt="">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm bg-jibackgroundBlue flex justify-center items-center">
          <p class="text-jibuttonBlue">See more</p>
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm bg-jibackgroundBlue flex justify-center items-center">
          <p class="text-jibuttonBlue">See more</p>
        </div>
      </div>
    </div>

  </div>
  <div class="p-10">
    <div class="flex justify-between">
      <h1 class="text-jititleorange text-4xl font-light mb-4">My Recent JIGs</h1>
      <div class="">
        {{ Input::jigsearchbox(dataId="#", label="Search JIG") }}

      </div>
    </div>
    <div class="flex">
      <div class="w-1/7">
        <div class="w-186">
          <div class="rounded-md  h-140 shadow-sm mb-2">
            <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
          </div>
          <div class="flex flex-col items-center">
            <p class="text-base">Hebrew Vocabulary</p>
            <p class="text-sm text-jigrey">Draft</p>
          </div>
        </div>


      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/6">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
      <div class="w-1/7">
        <div class="rounded-md w-186 h-140 shadow-sm">
          <img src="{{MEDIA_UI}}/cover-image-1.svg" alt="" class="w-186 h-140">
        </div>
      </div>
    </div>

  </div>
</div>