{% macro edit_card(dataId, side) %}
<div data-id="{{ dataId }}" class="h-160 w-160 bg-white flex rounded-lg shadow-lg  card-{{ side }}">
  <textarea data-id="text-contents" class="font-medium text-4xl flex items-center text-center text-contents outline-none resize-none  bg-transparent focus:outline-none"></textarea>
</div>
{% endmacro edit_card %}

{% macro play_card() %}
{# RUNTIME: add flip-card-clicked #}
<div data-id="flip" class="w-160 h-160 flip-card">
  <div class="card-front memory-matched  bg-jimemorycardgreen rounded-lg">
    <p data-id="text-contents" class="font-medium text-4xl text-contents"></p>
  </div>
  <div class="card-back memory-matched  bg-black rounded-lg">
  </div>
</div>
{% endmacro play_card %}

{% macro edit_top_step(selected, expected, label) %}
<div class="flex flex-col items-center">
  {% if selected==expected %}
  <div class="rounded-full h-48 w-48 bg-jibuttonBlue flex items-center justify-center text-white">
    {% else %}
    <div class="rounded-full h-48 w-48 bg-white border border-jigrey flex items-center justify-center">
      {% endif %}
      <p>{{ expected }}</p>
    </div>
    <p {% if selected==true %} class="text-jibuttonBlue" {% endif %}>{{ label }}</p>
  </div>
  {% endmacro edit_top_step %}

  {% macro edit_top_steps(selected) %}
  <div class="flex justify-between items-center p-4 border-b border-jidarkgrey">
    {{ self::edit_top_step(selected=selected, expected=1, label="Content") }}
    <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
    {{ self::edit_top_step(selected=selected, expected=2, label="Design") }}
    <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
    {{ self::edit_top_step(selected=selected, expected=3, label="Instructions") }}
    <div class="w-41 h-1 bg-jigrey -mt-15"> </div>
    {{ self::edit_top_step(selected=selected, expected=4, label="Preview") }}
  </div>
  {% endmacro edit_top_steps %}