.signupselect{

    background: url(https://i.ibb.co/fCsFTVL/icn-dropdown-chevron.png) no-repeat right;
    background-origin: content-box;

}

.signupselect select {
  -webkit-appearance: none;
  background: transparent;

}

.schoollist img {
  visibility: hidden;
}

.schoollist .selected, .schoollist .selected img {
  color: #5590fc;
  visibility: visible;
}

.error input{
  background-color: #fff4f4 !important;
  border-right: solid 1px #f00813;
}

.error {
  background-color: #fff4f4 !important;
  border: solid 1px #f00813 ;
}

.focus {
  border: solid 1px #5590fc;
  background-color: #e6f0ff !important;
}

.focus input{
  border-right: solid 1px #5590fc;
  background-color: #e6f0ff;
}

.focus label {
   background-color: #e6f0ff;
}

.w-full input{
  border-right: none;
}
