
{% macro orange(label, dataId="") %}
<button data-id="{{dataId}}" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">
    {{label}}
</button>
{% endmacro orange %}

{% macro blue(label, dataId="", hover) %}
<button data-id="{{dataId}}" class="bg-jibuttonBlue text-white rounded-20 px-3 py-1 font-poppins font-medium hover:{{hover}} focus:outline-none active:outline-none">
<div class="flex justify-center items-center">
  <img src="{{MEDIA_UI}}/Icon_Plus.svg" alt="">
  {{label}}
</div>

</button>
{% endmacro blue %}
