<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ app_css|safe }}">
    <title>Jigzi</title>
    <link rel="shortcut icon" href="https://media.jicloud.org/ui/favicon/favicon.ico" type="image/x-icon">

    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-27977599-9', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    {% if local_dev -%}
    <script src="/static/js/reload.js"></script>
    {% endif -%}

    <script src="{{ app_custom_elements_js|safe }}"></script>

    {% if firebase -%}
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    {% endif -%}
    {% match google_maps_url %}
    {% when Some with (url) %}
    <script src="{{ url|safe }}"></script>
    {% else %}
    {% endmatch %}
</head>

<body>
    <div id="root"></div>

    <script src="{{ app_js|safe }}"></script>
</body>

</html>
