<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ app_css|safe }}">
    <title>Jigzi</title>
    <link rel="shortcut icon" href="https://media.jicloud.org/ui/favicon/favicon.ico" type="image/x-icon">

    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-27977599-9', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-P4BFMJW');
    </script>
    <!-- End Google Tag Manager -->

    
    <!-- Hubspot Tracking Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2636713.js"></script>
    <!-- End Hubspot Tracking Code -->

    {% if local_dev -%}
    <script src="/static/js/reload.js"></script>
    {% endif -%}

    <script src="{{ app_custom_elements_js|safe }}"></script>

    {% if firebase -%}
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    {% endif -%}
    {% match google_maps_url %}
    {% when Some with (url) %}
    <script src="{{ url|safe }}"></script>
    {% else %}
    {% endmatch %}

    <!-- Hotjar Tracking Code -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 2863596, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- End Hotjar Tracking Code -->
</head>

<body>
    <!-- Google Tag Manager -->
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4BFMJW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <!-- End Google Tag Manager -->

    <div id="root"></div>

    <script src="{{ app_js|safe }}"></script>
</body>

</html>
