<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ app_css }}">
    <title>Ji Cloud</title>

    {% if local_dev -%}
    <script src="/static/js/reload.js"></script>
    {% endif -%}
    {% if firebase -%}
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    {% endif -%}
</head>

<body>
    <script src="{{ app_js }}"></script>
</body>

</html>
