<div data-id="signin">
<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" src="{{MEDIA_UI}}/ji-logo.png" alt="Workflow" />
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      Sign in to your account
    </h2>
    <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">
      Or
      <a data-id="register-link" href="javascript:void(0)" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
        register here 
      </a>
    </p>

    <div data-id="status-message" class="text-red-700 text-center"></div>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm leading-5">
          </div>
        </div>

        <div class="mt-6 grid grid-cols-3 gap-3">

          <div>
          </div>

          <div>
            <span class="w-full inline-flex rounded-md shadow-sm">

              <div data-id="google-signin" type="button" class="w-full cursor-pointer inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition duration-150 ease-in-out" aria-label="Sign in with Facebook">
                <img class="h-5" src="{{MEDIA_UI}}/social/google-g.svg" />
              </div>
            </span>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>