<div class="flex w-full h-full">
    <div data-id="sidebar">
        <nav class="h-full min-h-screen bg-jiblueLight relative w-259">
            <div data-id="close" class="absolute px-3 py-4 right-0 cursor-pointer">
            <img src="{{MEDIA_UI}}/icon-close-menu.svg" alt="">
            </div>
            <div class="py-10 px-10">
            <img src="{{MEDIA_UI}}/Logo_JI_ContentManager.svg" alt="sidebar logo">
            </div>
            <div data-id="links" class="flex flex-col poppins font-medium text-14 lg:text-18"> </div>
        </nav>
    </div>
    <main data-id="main" class="w-full h-full"></main>
</div>