{% macro sidebar(navbarLink, navbarLinkJig, dataId="") %}
<div class="${classNames.container}">
  <nav class="h-full min-h-screen bg-jiblueLight relative w-259 ${classNames.label}">
    <div class="absolute px-3 py-4 right-0">
      <img src="{{MEDIA_UI}}/icon-close-menu.svg" alt="">
    </div>
    <div class="py-10 px-10">
      <img src="{{MEDIA_UI}}/Logo_JI_ContentManager.svg" alt="sidebar logo">
    </div>
    <div class="flex flex-col poppins font-medium text-14 lg:text-18">
      <span class="h-16 flex items-center border-transparent border-solid border-l-8 transition duration-300 linear hover:bg-jiblueMedium hover:border-jiblueDark">
        <a class="px-8" href="#">{{navbarLink}}</a>
      </span>
      <span class="h-16 flex items-center border-transparent border-solid border-l-8 transition duration-300 linear hover:bg-jiblueMedium hover:border-jiblueDark">
        <a class="px-8" href="#">{{navbarLinkJig}}</a>
      </span>
      <span class="h-16 flex items-center border-transparent border-solid border-l-8 transition duration-300 linear hover:bg-jiblueMedium hover:border-jiblueDark">
        <a class="px-8" href="#">Edit categories</a>
        <img src="{{MEDIA_UI}}/lock-24-px.svg" alt="lock">

      </span>
    </div>
  </nav>
</div>

{% endmacro sidebar %}
