{% import "_categories/categories-macros.html" as Category %}

{% macro pagetitle(label, dataId="") %}
<h1 class="text-2xl py-2 mb-4 font-poppins font-light">{{label}}</h1>
<div class="bordersolid border-b-2 w-full border-grey-400"></div>
{% endmacro pagetitle %}
<!--This macro is just to see static how its meant to look like. Once toggling the classes and icon in the comments below only that macro needs to be used-->
{% macro categorytitle(label, dataId="") %}
<div class="flex items-center bg-white border-jibackgroundBlue border-l-8 border-2 border-l-solid rounded-md mb-2 titleoptions">
  <div class="flex py-3">
    <img class="px-1" src="{{MEDIA_UI}}/icon-chevron-categories-24-px.svg" alt="">
    <p>{{label}}</p>
  </div>
  <div class="flex mr-2 relative pl-2">
    <div class="ellipses">
    <!--Find a way to change color of ellipses when hover -->
      <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
      <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
      <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
    </div>
    <div class="absolute p-2 hidden dropdown">
      <ul class="bg-white rounded-md shadow-md w-112 py-3 font-normal">
        <li class="hover:bg-jibackgroundBlue">
          <a class="px-3" href="#">Add a child</a>
        </li>
        <li class="hover:bg-jibackgroundBlue">
          <a class="p-3" href="#">Rename</a>
        </li>
        <li class="hover:bg-jibackgroundBlue">
          <a class="p-3" href="#">Delete</a>
        </li>
        <li class="hover:bg-jibackgroundBlue">
          <a class="p-3" href="#">Hide</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endmacro categorytitle %}


{% macro category(label, dataId="") %}
<!-- When toggling between active and not active bg-white border-jibackgroundBlue  should change to bg-jibackgroundBlue border-jigreen -->
<div class="bg-jibackgroundBlue border-jigreen border-l-8 border-l-solid rounded-md mb-2">
  <div class="flex items-center titleoptions">
    <div class="flex py-3">
      <!--Find a way to toggle between this {{MEDIA_UI}}/icon-chevron-categories-24-px.svg and the image inside-->
      <img class="px-1" src="{{MEDIA_UI}}/icon-chevron-categories-24-px-active.svg" alt="">
      <p class="font-medium">{{label}}</p>
    </div>
    <div class="flex mr-2 relative pl-2">
      <div data-id="menu-toggle-btn" class="ellipses">
      <!--Find a way to change color of ellipses when hover -->
        <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
        <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
        <div class="bg-jibluelighter dots rounded-full h-2 w-2 mr-1"></div>
      </div>
      <div data-id="menu" class="absolute p-2 z-40 dropdown hidden cursor-pointer">
        <div data-id="close" class="px-3">X</div>
        <ul class="bg-white rounded-md shadow-md w-112 py-3">
          <li data-id="add" class="hover:bg-jibackgroundBlue">
            <div class="px-3">Add a child</div>
          </li>
          <li data-id="rename" class="hover:bg-jibackgroundBlue">
            <div class="p-3">Rename</div>
          </li>
          <li data-id="delete" class="hover:bg-jibackgroundBlue">
            <div class="p-3">Delete</div>
          </li>
          <li data-id="hide" class="hover:bg-jibackgroundBlue">
            <div class="p-3">Hide</div>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div data-id="children"></div>
</div>
{% endmacro category %}
