/* See https://codepen.io/dakom/pen/WNxYrQM */

[data-id="module-container"] {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: var(--width);
    height: var(--height);
}

[data-id="module-content"] {
    position: absolute;
    top: var(--content-y);
    left: var(--content-x);
    width: var(--content-width);
    height: var(--content-height);
}

#module-grid {
  display: grid;

  grid-template-areas: 
            "sidebar header"
            "sidebar main"
            "sidebar footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: 100%;
}

#module-grid > aside {
  grid-area: sidebar; 

  .sidebar-contents {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    .sidebar-scroll {
      height: 100%;
      overflow-y: auto;
    }
  }
}


#module-grid > header {
  grid-area: header; 
}
#module-grid > main {
  grid-area: main; 
}
#module-grid > footer {
  grid-area: footer; 
}