{% import "jig/publish/publish-macros.html" as PublishInput %}
{% import "_common/input/input-macros.html" as Input %}
{% import "_common/buttons/button-macros.html" as ButtonMacros %}

<div class="flex bg-jibackgroundBlue h-full min-w-full w-auto min-h-screen">
  <div data-id="sidebar">
  </div>
  <div data-id="module">

  </div>
  <div class="bg-white rounded-32 w-1688 h-896 flex items-center mr-auto ml-auto flex-col px-180">
    <h1 class="text-4xl text-jititleorange">Settings + JIG info.</h1>
    <p class="text-base mb-10">Last step before publishing</p>
    <div class="grid grid-cols-4 gap-x-48">
      <div class="w-296">
        <img src="{{MEDIA_UI}}/bereshit_small@2x.png" class="h-167 w-full rounded-16" alt="">
      </div>
      <div class="w-296">
        {{ PublishInput::publishinput(label="JIG’s Name")}}
        {{ PublishInput::publishtextarea(label="Description", height="344")}}
      </div>
      <div class="w-296">
        <div class="relative">
          {{ PublishInput::publishselect(label="Language of instructions")}}
          <div class="" data-id="publish-language-dropdown">
          </div>
        </div>
        <div class="relative ">
          {{ PublishInput::publishselect(label="Age")}}
          <div class="" data-id="publish-age-dropdown">

          </div>
        </div>


        {{ PublishInput::publishselect(label="Teaching Goal")}}
        <div class="relative">
          {{ PublishInput::publishselect(label="Categories")}}
          <div class="" data-id="publish-category-dropdown"></div>

        </div>
        <div class="" data-id="publish-categories"></div>
      </div>
      <div class="w-296">
        <div class="mb-12">
          <p class="text-jibuttonBlue">Sharing</p>
          <div class="flex flex-col -ml-2">
            {{ Input::checkbox(label="Other users can use my JIG", required=false, inputDataId="tos", class="px-2") }}

            {{ Input::checkbox(label="Other users can customize their own version of the JIG ", required=false, inputDataId="tos", class="px-2") }}

          </div>
        </div>
        <div class="">
          <p class="text-jibuttonBlue">Additional resources (Optional)</p>
          <div class="flex">
            <div class="h-48 w-48 bg-jilogingrey flex justify-center items-center">
              <img src="{{MEDIA_UI}}/icn-copy.svg" alt="">
            </div>

          </div>
        </div>




      </div>

    </div>
    <div class="mt-16">
      {{ ButtonMacros::orange(label="Publish JIG", dataId="next") }}
      <div class="relative" data-id="publish-error-tooltip">

      </div>
    </div>


  </div>
</div>