<div class="mb-4 absolute z-10 w-296 left-0 top-0">
  <!--This should be toggled when clicking on filter FILTERBOX-->
  <div class="bg-jibackgroundGrey rounded-md shadow py-2">
    <label for="name" class="">
      <span class="text-jibuttonBlue px-4">Language of instructions</span>
      <div class="flex items-center border-b border-jigreyicon py-2 relative">

        <img src="{{MEDIA_UI}}/icn-chevron-dropdown-up.svg" alt="" class="absolute right-10">
        <input data-id="" type="search" name="" value="" class="ml-4 bg-jibackgroundGrey outline-none focus:outline-none" placeholder="Select language">

      </div>

      <ul class="py-2 text-black">

        <li class="hover:bg-jibluehover">
          <div class="px-4  py-1">All Languages</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">English (US)</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">English (UK)</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">Hebrew</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">French</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">Spanish</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">Russian</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">German</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">Swedish</div>
        </li>


      </ul>

    </label>





  </div>

</div>