<div class="mb-4 absolute z-10 w-296 left-0 top-0">
  <!--This should be toggled when clicking on filter FILTERBOX-->
  <div class="bg-jibackgroundGrey rounded-md shadow py-2">
    <label for="name" class="">
      <span class="text-jibuttonBlue px-4">Language of instructions</span>
      <div class="flex items-center border-b border-jigreyicon py-2 relative">

        <img src="{{MEDIA_UI}}/icn-chevron-dropdown-up.svg" alt="" class="absolute right-10">
        <input data-id="" type="search" name="" value="" class="ml-4 bg-jibackgroundGrey outline-none focus:outline-none" placeholder="Select language">

      </div>
      <ul class="py-2 text-black">


        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>Hebrew</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover relative">
          <div class="px-4 py-1 flex justify-between">
            <p>Jewish Holidays</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
            <div class="bg-jibackgroundGrey w-296 rounded-md shadow py-2 absolute -right-296">
              <ul>
                <li class="hover:bg-jibluehover publish-subcategory">
                  <div class="px-4 py-1 flex">
                    <img src="{{MEDIA_UI}}/icn-chosen-check.svg" alt="" class="mr-2">
                    <p>General Science</p>
                  </div>
                </li>
                <li class="hover:bg-jibluehover publish-subcategory">
                  <div class="px-4 py-1 flex publish-subcategory-chosen">
                    <img src="{{MEDIA_UI}}/icn-chosen-check.svg" alt="" class="mr-2">
                    <p class="text-jibuttonBlue">General Science</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>Israel National Days</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>Shabbat</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>Jewish Life</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>History</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>For kids with special needs</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>Jewish Text</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>Food</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>Jewish Calendar</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1 flex justify-between">
            <p>General Science</p><img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="transform -rotate-90">
          </div>
        </li>


      </ul>



    </label>





  </div>

</div>