<div class="mb-4 absolute z-10 w-296 left-0 top-0">
  <!--This should be toggled when clicking on filter FILTERBOX-->
  <div class="bg-jibackgroundGrey rounded-md shadow py-2">
    <label for="name" class="">
      <span class="text-jibuttonBlue px-4">Age</span>
      <div class="flex items-center border-b border-jigreyicon py-2 relative">

        <img src="{{MEDIA_UI}}/icn-chevron-dropdown-up.svg" alt="" class="absolute right-10">
        <input data-id="" type="search" name="" value="" class="ml-4 bg-jibackgroundGrey outline-none focus:outline-none" placeholder="Select ages">

      </div>

      <ul class="py-2 text-black">

        <li class="hover:bg-jibluehover">
          <div class="px-4  py-1">All Ages</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">3-5</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">5-8</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">8-11</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">11-14</div>
        </li>
        <li class="hover:bg-jibluehover">
          <div class="px-4 py-1">14+</div>
        </li>



      </ul>

    </label>





  </div>

</div>