<div class="flex bg-jibackgroundBlue h-full min-w-full w-auto min-h-screen">
  <div data-id="sidebar">
  </div>
  <div data-id="module">

  </div>
  <div class="bg-white rounded-32 w-1688 h-896 flex items-center mr-auto ml-auto flex-col px-180">
    <div class="rounded-full h-362 w-362 bg-jigrey">

    </div>
    <h1 class="text-4xl text-jititleorange">Your JIG is on air now</h1>
    <p class="text-base mb-10">What would you like to do next?</p>

    <div class="flex">
      <div class="rounded-12 h-102 w-152 bg-jilogingrey flex flex-col items-center justify-center">
        <img src="{{MEDIA_UI}}/icn-share.svg" alt="">
        <p>share the JIG</p>
      </div>
    </div>


  </div>
</div>