{% macro publishinput(label) %}
<div class="bg-jilogingrey h-64 relative rounded-lg px-4 py-2 mb-10">
  <input type="text" class="outline-none bg-jilogingrey absolute bottom-0 mb-2 px-4 mr-px left-0">
  <label class="absolute left-0 ml-4 text-jibuttonBlue">{{label}}</label>
</div>
{% endmacro publishinput %}

{% macro publishtextarea(label,height) %}
<div class="bg-jilogingrey h-64 relative rounded-lg px-4 py-2 mb-10 ">
  <div type="text" class="outline-none bg-jilogingrey absolute mb-2 px-4 mr-px left-0 h-{{height}}">
    <textarea name="name" rows="8" cols="80" class="mt-6 resize-none w-full bg-jilogingrey rounded-b-lg focus:outline-none"></textarea>
  </div>

  <label class="absolute left-0 ml-4 text-jibuttonBlue ">{{label}}</label>
</div>
{% endmacro publishinput %}

{% macro publishselect(label) %}
<div class="publish-error bg-jilogingrey h-64 w-full relative rounded-lg px-4 py-2 mb-2 mb-10 ">
  <select class="outline-none w-full bg-jilogingrey absolute bottom-0 mb-2 px-4 mr-px left-0">
    <option value="">Hello</option>
    <option value="">Goodbye</option>
  </select>
  <img src="{{MEDIA_UI}}/icn-check-chevron-dropdown.svg" alt="" class="absolute bottom-26 right-10">
  <label class="absolute left-0 ml-4 text-jibuttonBlue">{{label}}</label>
</div>
{% endmacro publishselect %}