<div class="w-296 flex flex-wrap -m-2">
  <div class="rounded-full py px-2 border-jimemoryborder text-jibuttonBlue border text-sm mr-2 mb-2">Grammar</div>
  <div class="rounded-full py px-2 border-jimemoryborder text-jibuttonBlue border text-sm mr-2 mb-2">Ivrit B’Ivrit</div>
  <div class="rounded-full py px-2 border-jimemoryborder text-jibuttonBlue border text-sm mr-2 mb-2">Letters</div>
  <div class="rounded-full py px-2 border-jimemoryborder text-jibuttonBlue border text-sm mr-2 mb-2">Reading</div>
  <div class="rounded-full py px-2 border-jimemoryborder text-jibuttonBlue border text-sm mr-2 mb-2">Songs</div>
  <div class="rounded-full py px-2 border-jimemoryborder text-jibuttonBlue border text-sm mr-2 mb-2">Spelling</div>

</div>