{% import "_sidebar/sidebar-macros.html" as Sidebar %}
{% import "_input/input-macros.html" as Input %}
{% import "_buttons/button-macros.html" as ButtonMacros %}
{% import "categories/categories-macros.html" as Categories %}
<div class="flex">
  <div class="w-full px-8 pt-6">
    <div class="flex items-center py-2 mb-4 justify-between">
      <h1 class="text-2xl font-poppins font-light">Label Image</h1>
      {{ Input::searchbox(dataId="#") }}
    </div>
    <div class="bordersolid border-b-2 w-full border-grey-400 mb-6"></div>
    <div class="flex">
  <div class="w-1/5">
    <img src="{{MEDIA_UI}}/red-sea-book.png" alt="">
    <div class="pl-1 pr-2">
      <div class="flex justify-between mb-6">
      {{ Input::checkbox(label="Premium Image", dataId="#") }}
        <p class="text-sm text-jibuttonBlue flex items-center leading-6">Replace</p>
      </div>
    </div>
  </div>
  <div class="w-2/5 h-screen pl-6">
    <div class="w-full">
      <div class="flex mb-2">
        <div class="w-full">
          <div class="flex justify-between pb-3 flex-col">
            <div class="flex items-center mb-2">
              <p class="text-jibuttonBlue font-medium">General summary</p>
            </div>
            <div class="bg-jibackgroundBlue h-696 w-full rounded-md p-4">
              <div class="mb-6">
                <p class="text-jibuttonBlue font-medium">Image name</p>
                <p class="font-medium">Moses parts the Nile</p>
              </div>
              <div>
                <p class="text-jibuttonBlue font-medium">Image description</p>
                <p class="font-normal">An open book, Moses hold his stick and raise his hands up, and part the Nile. An open book, Moses hold his stick and raise his hands up, and part the Nile. An open book, Moses hold his stick and raise his hands up, and part the Nile. </p>
              </div>
              <div>
                <p class="text-jibuttonBlue font-medium">Image style</p>
                <p class="font-normal">Clip art</p>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>
  <div class="w-2/5 h-screen pl-6">
    <div class="w-full">
      <div class="flex mb-2">
        <div class="w-full">
          <div class="flex justify-between pb-3 flex-col">
            <div class="flex items-center mb-2">
              <p class="text-jibuttonBlue font-medium">Categories summary</p>
            </div>
            <div class="bg-jibackgroundBlue h-696 w-full rounded-md">


            </div>
          </div>

        </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>
