{% import "_sidebar/sidebar-macros.html" as Sidebar %}
{% import "_input/input-macros.html" as Input %}
{% import "_buttons/button-macros.html" as ButtonMacros %}
{% import "categories/categories-macros.html" as Categories %}

<div>
  <div class="w-full px-8 pt-6">
    <div class="flex items-center py-2 mb-4 justify-between">
      <h1 class="text-2xl font-poppins font-light">Label Image</h1>
      <div data-id="error" class="flex border rounded-full border-jierrorred text-jierrorred py-2 px-4">
        ​
        <img src="{{MEDIA_UI}}/done-24-px.svg" alt="">
        ​
        <p data-id="message"></p>
      </div>

      <div data-id="published">
        <div class="flex items-center text-jigreen border border-jigreen rounded-md p-2 bg-white z-10 absolute top-50 left-50p">
          <img data-id="publish-img" class="w-76">
          <img src="{{MEDIA_UI}}/done-24-px-v.svg" class="px-3">
          <p>Image was published</p>
        </div>
      </div>
      {{ Input::searchbox(dataId="#", label="Search Image") }}
    </div>
    <div class="bordersolid border-b-2 w-full border-grey-400 mb-6"></div>
    <div class="flex relative">
      <div class="w-1/5">
        <img data-id="img" alt="">
		<button data-id="delete">DELETE</button>
        <div class="pl-1 pr-2">
          <div class="flex justify-between mb-6">
            {{ Input::checkbox(label="Premium Image", inputDataId="premium") }}
            <p data-id="replace-btn" class="text-sm text-jibuttonBlue flex items-center leading-6 cursor-pointer">Replace</p>
            <input type="file" data-id="file" multiple accept="image/*" class="hidden">
          </div>
          {{ Input::description(label="Image Name", inputDataId="name") }}
          {{ Input::description(label="Image Description", inputDataId="description") }}
        </div>
      </div>
      <div class="w-4/5">
        <div data-id="right-area"></div>
      </div>

      <div class="absolute right-0 bottom-160">
        {{ ButtonMacros::orange(label="", dataId="next") }}
      </div>
    </div>
  </div>
</div>