[package]
name = "renderer"
version = "0.1.0"
authors = ["David Komer <david.komer@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
shipyard = { git = "https://github.com/leudz/shipyard", branch = "no-panic-feature", features = ["non_send", "non_sync"], default-features = false }
shipyard_scenegraph = { git = "https://github.com/dakom/shipyard-scenegraph", features = ["non_send", "non_sync", "nalgebra_math"], default-features = false}
nalgebra-glm = "0.12.0"
# only needed to workaround lack of wasm feature in shipyard for now
parking_lot = { version = "0.11.1", features = ["wasm-bindgen"] }
shared = {path = "../../../../shared/rust"}
config = {path = "../../../../config/rust", features = ["wasm"]}
log = "0.4.14"
serde = { version = "1.0.125", features = ["derive"] }
serde_json = "1.0.64"
serde-wasm-bindgen = "0.1.3"
wasm-bindgen = "0.2.73"
wasm-bindgen-futures = "0.4.23"
js-sys = "0.3.50"
awsm_web = { version = "0.17.0", features = ["tick", "webgl", "loaders", "audio", "serde_iso"], default-features = false }
[dependencies.web-sys]
version = "0.3.50"
features = [
    "console",
    "MouseEvent",
    "Document",
    "Element",
    "HtmlElement",
    "HtmlCanvasElement",
    "Window",
    "Performance",
]
[features]
quiet = []
local = ["quiet"]
release = []
sandbox = []
