{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "user/user-macros.html" as User %}

<div class="flex">
  <div class="bg-jisideblue bg-shapes bg-no-repeat bg-auto bg-center h-screen w-480 min-w-300">
  </div>
  <div class="p-80">
    <h1 class="text-jititleorange text-5xl font-light mb-8">Sign Up</h1>
    <div class="w-297">
      <div data-id="google-register" class="cursor-pointer mb-8">
        <div class="border rounded-sm border-jigooglegrey shadow-md h-64">
          <span class="flex items-center font-sans font-normal text-lg"><img src="{{MEDIA_UI}}/icn-google-button-64.svg" alt="">Sign in with Google</span>

        </div>
      </div>
      <div class="flex items-center justify-center mb-8">
        <hr class="w-112 mr-5">
        <p>or</p>
        <hr class="w-112 ml-5">

      </div>
      <div data-id="status-message"></div>
      {{ User::user_input(label="Email",width="w-297",inputwidth="w-296", inputDataId="email") }}
      <div class="rounded-full w-259 h-10 mb-4">
        <!--Toggle class weak average and secure-->
        <div class="h-full rounded-full">

        </div>
      </div>
      {{ User::user_pw(label="Create Password",width="w-297", inputwidth="w-296", inputDataId="password") }}

      <div class="h-56">

      </div>
      {{ ButtonMacros::orange(label="Submit", dataId="submit") }}
      <p class="text-jibuttonBlue  mt-6">Already have an account? <span data-id="signin-link" class="cursor-pointer">Sign in</span></p>
    </div>
  </div>
</div>