{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "_common/input/input-macros.html" as Input %}
{% import "user/user-macros.html" as User %}

<div class="flex">
  <div class="bg-jisideblue bg-shapes bg-no-repeat bg-auto bg-center h-screen w-480 min-w-300">
  </div>
  <div class="px-80 py-60">
    <h1 class="text-jititleorange text-5xl font-light mb-8">Sign up - Step 3</h1>
    <div class="">


      <p class="text-lg mb-8 w-763">We want to tailor the content that you find to your interests and needs.
        <br>You can select as many as you like now and edit it later it in your profile page
      </p>

      <div class="w-867 rounded-md bg-jibackgroundGrey p-6 mb-6">
        <p class="text-jibuttonBlue ml-2 mb-2">Which age group are you interested in?</p>
        <div class="flex mb-8">
          {{ Input::checkbox(label="Kindergarden", dataId="${id}", class="px-2") }}
          <div class="w-10"></div>
          {{ Input::checkbox(label="Elementry school", dataId="${id}", class="px-2") }}
          <div class="w-10"></div>
          {{ Input::checkbox(label="Middle school", dataId="${id}", class="px-2") }}
          <div class="w-10"></div>
          {{ Input::checkbox(label="High school", dataId="${id}", class="px-2") }}
        </div>
        <p class="text-jibuttonBlue ml-2 mb-2">What subjets do you teach?</p>
        <div class="flex mb-4">
          {{ Input::checkbox(label="Hebrew language", dataId="${id}", class="px-2") }}
          <div class="w-10"></div>
          {{ Input::checkbox(label="Jewish Holidays", dataId="${id}", class="px-2") }}
          <div class="w-10"></div>
          {{ Input::checkbox(label="Jewish Texts", dataId="${id}", class="px-2") }}
          <div class="w-10"></div>
          {{ Input::checkbox(label="Israel", dataId="${id}", class="px-2") }}
          <div class="w-10"></div>
          {{ Input::checkbox(label="Jewish Life", dataId="${id}", class="px-2") }}
          <div class="w-10"></div>
          {{ Input::checkbox(label="Prayer", dataId="${id}", class="px-2") }}
        </div>

      </div>
      <div class="w-867 rounded-md bg-jibackgroundGrey p-6">
        <p class="text-jibuttonBlue ml-2 mb-2">Content from which streams of Judaism do you want to see?</p>
        <div class="flex flex-col mb-4">
          {{ Input::checkbox(label="Show me everything", dataId="${id}", class="px-2") }}
          <div class="h-10"></div>
          {{ Input::checkbox(label="No religious content", dataId="${id}", class="px-2") }}
          <div class="h-10"></div>
          {{ Input::checkbox(label="Reform content", dataId="${id}", class="px-2") }}
          <div class="h-10"></div>
          {{ Input::checkbox(label="Conservative content", dataId="${id}", class="px-2") }}
          <div class="h-10"></div>
          {{ Input::checkbox(label="Orthodox content", dataId="${id}", class="px-2") }}
          <div class="h-10"></div>
          {{ Input::checkbox(label="Charedi content", dataId="${id}", class="px-2") }}
          <div class="h-10"></div>
          {{ Input::checkbox(label="Israeli secular content", dataId="${id}", class="px-2") }}
        </div>


      </div>

    </div>
  </div>
</div>