{% import "_common/buttons/button-macros.html" as ButtonMacros %}
{% import "_common/input/input-macros.html" as Input %}
{% import "user/user-macros.html" as User %}

<div class="flex">
  <div class="bg-jisideblue bg-shapes bg-no-repeat bg-auto bg-center h-screen w-480 min-w-300">
  </div>
  <div class="px-80 py-60">
    <h1 class="text-jititleorange text-5xl font-light mb-8">Register - Step 1</h1>
    <div class="">
      <div data-id="status-message"></div>
      <div class="flex">
        {{ User::user_input(label="First name*",width="w-297",inputwidth="w-296", inputDataId="given-name") }}
        <div class="spacer w-30"></div>
        {{ User::user_input(label="Last name*",width="w-297",inputwidth="w-296", inputDataId="family-name") }}
      </div>

      {{ User::user_input(label="Create a username*",width="w-full",inputwidth="w-full", inputDataId="user-name") }}
      {{ Input::checkbox(label="I am over 18", inputDataId="over-18", required=true, class="px-2") }}
      <div class="mt-2">
        {{ ButtonMacros::orange(label="Next", dataId="next") }}
      </div>

      <p class="mt-4">Already have an account? <span data-id="login-link" class="cursor-pointer text-jibuttonBlue">Login</span></p>

    </div>
  </div>
</div>