# used for fa-icon, might be able to remove this file once fa releases their own web component

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=ABF7FAE9-3F82-4611-9526-5C930B5651F0