name: Api - Backend - PR 

on:
  pull_request:
    paths:
    - 'config/**'
    - 'shared/**'
    - 'backend/core/**'
    - 'backend/api/**'
  push:
    branches: 
    - master
    - sandbox

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt
      
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --manifest-path backend/api/Cargo.toml -- --check
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            backend/api/target
          key: ${{ runner.os }}-check-${{ hashFiles('backend/api/Cargo.lock') }}

      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: >
            --manifest-path backend/api/Cargo.toml
            --no-default-features

  # work in progress: currently yarn doesn't work right
  test:
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: password
          # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          --tmpfs /var/lib/postgresql/data
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: actions/setup-node@v2
        with:
          node-version: '12'
          
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            backend/api/target
          key: ${{ runner.os }}-test-rs-${{ hashFiles('backend/api/Cargo.lock') }}

      - uses: actions/cache@v2
        with:
          path: |
           'backend/api/integration-testing/node_modules'
           '~/.cache/yarn'
           '~/.yarn'
          key: ${{ runner.os }}-test-js-${{ hashFiles('backend/api/integration-testing/yarn.lock') }}
        
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: >
            --manifest-path backend/api/Cargo.toml
            --no-default-features
      
      - run: yarn install --frozen-lockfile
        working-directory: 'backend/api/integration-testing'

      - run: yarn test:ava -v -T 5m
        working-directory: 'backend/api/integration-testing'
        env: 
          DATABASE_URL: postgres://postgres:password@localhost


