name: Module - Elements - Release 

on:
  push:
    branches: [ master ]
    paths:
    - 'frontend/config/**'
    - 'frontend/ts-utils/**'
    - 'frontend/elements/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo
        uses: actions/checkout@v1

      - name: Extract label 
        shell: bash
        run: echo "##[set-output name=label;]$(echo \"[${GITHUB_REF#refs/heads/} - test - elements]\")"
        id: extract_label

      - name: Notify slack
        uses: pullreminders/slack-action@master
        with:
          args: '{\"channel\":\"CFYR62BRC\",\"text\":\"${{steps.extract_label.outputs.label}} starting...\"}'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

      - name: install node
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: install npm deps
        run: npm ci 
        working-directory: "./frontend/elements"

      - name: test elements 
        run: npm run test 
        working-directory: "./frontend/elements"

      - name: Notify slack of all status
        uses: pullreminders/slack-action@master
        with:
          args: '{\"channel\":\"CFYR62BRC\",\"text\":\"${{steps.extract_label.outputs.label}} ${{job.status}}\"}'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        if: always()

  build:
    runs-on: ubuntu-latest
    needs: test

    strategy:
      matrix:
        app: [poster, video, tapping-board, drag-drop, memory, matching, flashcards, card-quiz, cover]
        mode: [edit, play]
    steps:

      - name: checkout repo
        uses: actions/checkout@v1

      - name: Extract label 
        shell: bash
        run: echo "##[set-output name=label;]$(echo \"[${GITHUB_REF#refs/heads/} - module/${{ matrix.app }}/${{ matrix.mode }} - elements]\")"
        id: extract_label

      - name: Notify slack
        uses: pullreminders/slack-action@master
        with:
          args: '{\"channel\":\"CFYR62BRC\",\"text\":\"${{steps.extract_label.outputs.label}} starting...\"}'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

      - name: install node
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: install npm deps
        run: npm ci 
        working-directory: "./frontend/elements"

      - name: build elements 
        run: npm run build:release
        working-directory: "./frontend/elements"
        env: 
          APP_NAME: "module/${{ matrix.app }}/${{ matrix.mode }}"

      - name: install google cloud sdk
        uses: google-github-actions/setup-gcloud@master
        with:
          version: '295.0.0'
          service_account_key: ${{ secrets.GOOGLE_CLOUD_SERVICE_ACCOUNT_JSON_KEY }}

      - name: deploy to google cloud
        run: gsutil -m rsync -d -r frontend/elements/dist/module/${{ matrix.app }}/${{ matrix.mode }} gs://ji-cloud-frontend-origin-eu-001/module/${{ matrix.app }}/${{ matrix.mode }}/elements
        
      - name: Notify slack of all status
        uses: pullreminders/slack-action@master
        with:
          args: '{\"channel\":\"CFYR62BRC\",\"text\":\"${{steps.extract_label.outputs.label}} ${{job.status}}\"}'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        if: always()
