@import "tailwindcss/base";
@import "tailwindcss/components";

@import "user/signup";
@import "admin/header";
@import "admin/tests";
@import "admin/search";
@import "jig/jig";
@import "memory/memory";


@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&display=swap');



body {
  padding:0 !important;
  /* the font-size on :root is dynamically set for module scaling
     so the font-size here is set to a new default for children
  */
  font-size: 16px;
}

* {
  font-family: 'Poppins', sans-serif;
  color: #4a4a4a
}

html,body,main {
    -webkit-text-size-adjust:none;
    text-size-adjust: none;
}
