.jibluelighter:hover .dots {
  background-color: #5590fc;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.spacer{
  left:-28px;
  top: -10px
}


.titleoptions .ellipses {
  visibility: : hidden;
}
.titleoptions:hover .ellipses{
  display: flex;
  visibility: visible;
}

.arrow {
  fill: red;
}

.searchpage input[type="search"]:focus{
  border-color: #5590fc;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addImage:hover button{
background-color: #2b54b8;

};
