{% macro gridItemColored(src, label, colorClass, dataId="") %}
<div class="relative">
  <div class="w-256">
    <img src="{{src}}" alt="" class="h-190 w-full object-contain">
  </div>

  <div class="flex items-center justify-center max-w-274 w-full absolute -bottom-10">
    <div class="rounded-full h-3 w-3 flex items-center justify-center {{colorClass}} absolute left-0 ml-2"></div>
    <p class="overflow-hidden truncate pl-25 pr-25">{{label}}</p>
  </div>
</div>
{% endmacro gridItemColored %}

{% macro gridItem(src, label, dataId="") %}
<div class="w-274 h-208 relative">
  <img src="{{src}}" alt="">
  <div class="flex items-center justify-center  w-274 absolute bottom-0">
    <p>{{label}}</p>
  </div>
</div>
{% endmacro gridItem %}